{% extends "master_partial.html" %}

{% block container %}
<div class="login-container bg-white">
    <div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">

        <img alt="logo"
            src="{{ config.SRP }}/assets/img/survaider_dark.png"
            data-src="{{ config.SRP }}/assets/img/survaider_dark.png"
            data-src-retina="{{ config.SRP }}/assets/img/survaider_dark_2x.png"
             height="22">

        <p class="p-t-35">Sign In using Facebook profile.</p>

        <button class="btn btn-primary btn-cons m-t-10" type="submit">Sign in</button>

        <div class="pull-bottom sm-pull-bottom">
            <div class="m-b-30 p-r-80 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix">
                <div class="col-sm-3 col-md-2 no-padding">
                    <img alt="" class="m-t-5" data-src="{{ config.SRP }}/assets/img/logo.one.png" data-src-retina="{{ config.SRP }}/assets/img/logo.one.png" height="60" src="{{ config.SRP }}/assets/img/logo.one.png" >
                </div>
                <div class="col-sm-9 no-padding m-t-10">
                    <p><small>
                        Data security policy for Survaider | Facebook data policy.
                    </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}