{% macro render_field_with_errors(field) %}
  {% if field.errors %}
  <div class="form-group form-group-default has-error">
  {% else %}
  <div class="form-group form-group-default">
  {% endif %}
    {{ field.label }}
    <div class="controls">
      {{ field(class="form-control", **kwargs)|safe }}
    </div>
    <label class="error">
      <p>
        {% for error in field.errors %}
          {{ error }}<br>
        {% endfor%}
      </p>
    </label>
  </div>
{% endmacro %}

{% macro render_field(field) %}
  <p>{{ field(**kwargs)|safe }}</p>
{% endmacro %}
