{% extends 'master.html' %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% from 'macros.html' import footer_text %}

{% block pgbody %}
{% include "security/_messages.html" %}
    <div class="login-wrapper ">
      <div class="bg-pic">
        <img src="/static/img/meta/IMG_20141223_154847863.jpg" data-src="/static/img/meta/IMG_20141223_154847863.jpg" data-src-retina="/static/img/meta/IMG_20141223_154847863.jpg" alt="" class="lazy">
        <div class="bg-caption pull-bottom sm-pull-bottom text-white p-l-20 m-b-20">
          <h2 class="semi-bold text-white">Some Stuff.</h2>
        </div>
      </div>
      <div class="login-container bg-white">
        <div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">
          <img src="/static/img/logo.png" alt="logo" data-src="/static/img/logo.png" data-src-retina="/static/img/logo_2x.png" height="22">
          <p class="p-t-35">Sign into your Survaider Account</p>

          <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form" id="form-login" class="p-t-15" role="form" >

            {{ login_user_form.hidden_tag() }}
            {{ render_field_with_errors(login_user_form.email,placeholder="johndoe@example.com") }}
            {{ render_field_with_errors(login_user_form.password, placeholder="...") }}

            <div class="row">
              <div class="col-md-6 no-padding">
                <div class="checkbox ">
                  {{ login_user_form.remember()|safe }}
                  {{ login_user_form.remember.label }}
                </div>
              </div>
            </div>
            {{ login_user_form.next }}
            {{ login_user_form.submit(class="btn btn-primary btn-cons m-t-10") }}
          </form>

          {% macro social_login(provider_id, display_name) %}
            <form action="{{ url_for('social.login', provider_id=provider_id) }}" method="POST">
              <input type="submit" value="Login with {{ display_name }}" />
            </form>
          {% endmacro %}

          {{ social_login('facebook', 'Facebook' )}}
          <div class="pull-bottom sm-pull-bottom">

            {{ footer_text() }}

          </div>
        </div>
      </div>
    </div>

{% endblock %}
