{% extends 'nav.container.html' %}

{% block content_head %}
<div class="jumbotron page-cover" data-pages="parallax">
  <div class="container-fluid container-fixed-lg">
    <div class="inner" style="transform: translateY(0px); opacity: 1;">
      <div class="panel panel-transparent">
        <div class="panel-body">
          <span class="h3 font-montserrat">{{ survey.name }}</span><br>
          <small class="font-montserrat">Created <strong><span data-livestamp="{{ survey.created_on }}">{{ survey.created_on }}</span></strong></small><br>
          <small><span class="font-montserrat text-uppercase bold">Status:</span></small>

          {% if (not survey.is_active) %}
          <span class="label font-montserrat {% if (survey.has_expired) %}label-important{% else %}label-warning{% endif %}">
            Inactive
            {% if (survey.has_expired) %}
              &bullet; Expired
            {% endif %}
            {% if (survey.is_paused) %}
              &bullet; Paused
            {% endif %}
          </span>
          {% else %}
          <span class="label font-montserrat label-success">Active</span>
          {% endif%}

          <br>
          <br>

          <a href="{{ survey.uri_edit }}"><span class="label font-montserrat"><i class="fa fa-cog"></i> <span class="font-montserrat">Edit</span></span></a>
          <a href="{{ survey.uri_edit }}#share"><span class="label font-montserrat"><i class="fa fa-cog"></i> <span class="font-montserrat">Share / Preview</span></span></a>
          <a href="{{ survey.uri_edit }}#settings"><span class="label font-montserrat"><i class="fa fa-cog"></i> <span class="font-montserrat">Settings</span></span></a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">

  <div class="panel">
    <ul class="nav nav-tabs nav-tabs-simple" role="tablist">
      <li class=""><a href="#tab2hellowWorld" data-toggle="tab" role="tab" aria-expanded="false">Survey Report</a>
      </li>
      <li class="active"><a href="#tab2FollowUs" data-toggle="tab" role="tab" aria-expanded="true">Responses</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane" id="tab2hellowWorld">
        <div class="row column-seperation">
          <div class="col-md-6">
            <h3>
                              <span class="semi-bold">Sometimes</span> Small things in life means the most</h3>
          </div>
          <div class="col-md-6">
            <h3 class="semi-bold">great tabs</h3>
            <p>Native boostrap tabs customized to Pages look and feel, simply changing class name you can change color as well as its animations</p>
          </div>
        </div>
      </div>
      <div class="tab-pane active" id="tab2FollowUs">
        <div class="row">
          <div class="col-md-12">
            <table class="table table-hover demo-table-search" id="tableWithSearch">
              <thead>
                <tr>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}

{% block modal %}
{% endblock %}

{% block additionaljs%}
<script type="text/javascript" src="{{ url_for('static', filename='domain/analytics.vendor.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='domain/analytics.js') }}"></script>
{% endblock %}

{% block additionalcss%}
<link class="main-stylesheet" href="{{ url_for('static', filename='domain/analytics.vendor.css') }}" rel="stylesheet" type="text/css" />
<link class="main-stylesheet" href="{{ url_for('static', filename='domain/analytics.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
