{% extends 'nav.container.html' %}

{% block content %}
  <div class='sb-main'></div>
<div class="container">
</div>
{% endblock %}


{% block additionalcss%}
<link class="main-stylesheet" href="/static/css/builder.vendor.css" rel="stylesheet" type="text/css" />
<link class="main-stylesheet" href="/static/dev/formbuilder.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block additionaljs%}
<script src="/static/dev/vendor.sans.jquery.js" type="text/javascript"></script>
<script src="/static/dev/formbuilder.js" type="text/javascript"></script>
<script type="text/javascript">

  $(document).ready(function() {
    var s_id = UriTemplate.extract("/survey/s:{s_id}/edit", window.location.pathname).s_id;
    var json_uri = UriTemplate.expand("/api/survey/{s_id}", {s_id: s_id}),
        payload_update_uri = UriTemplate.expand("/api/survey/{s_id}", {s_id: s_id});

    $.getJSON(json_uri, function (data) {

      fb = new Formbuilder({
        selector: '.sb-main',
        bootstrapData: data.fields
      });

      fb.on('save', function(payload){
        console.log(payload);
        $.post(payload_update_uri, {struct: JSON.stringify({fields: payload})}, function (data) {
          console.log(data);
        });
      });

    });
  });
</script>
{% endblock %}
