<div  style="padding : 20px " class="facebook" ng-controller = "FacebookTabController">
    <div>
 		<div  ng-repeat="dat in facebookPages" style="border: 2px solid; border-radius: 8px; padding : 10px; margin : 10px;">
            <div ng-click="selectPage(dat)">   
                <ul style="padding : 20px;">
                    <li ><h4 style="padding : 10px" >name:{{dat.name}} </h4><li> 
                    <li><h4 style="padding : 10px">category:{{dat.category}}</h4></li>
 		        </ul>
            </div>
        </div>
    </div>
</div> 
