<div id="main-content" class="sv-main-content">

  <!-- <div class="sv-overall-rating">

    <div class="rating-group">

      <div class="rating-header">
        <h1>Overall Qualitative Survaider Rating - QSR</h1>
      </div>

      <div class="rating-graph" ng-init="graphWidth = 600; graphHeight = 200; pointRadius = 7; maxOrdinate = maxOrdinateFrom2DPointArray(ratingPoints); abscissaSpacer = ((graphWidth - 20) + 2*pointRadius) / (ratingPoints.length); borderWidth = 20">
        <svg ng-attr-width="{{graphWidth}}" ng-attr-height="{{graphHeight}}">
          <g>
            <line opacity="0.75" ng-attr-x1="{{0}}" ng-attr-x2="{{graphWidth}}" ng-attr-y1={{0}} ng-attr-y2="{{0}}" stroke="#DED8D8" stroke-width="2"  />
            <line opacity="0.75" ng-attr-x1="{{0}}" ng-attr-x2="{{graphWidth}}" ng-attr-y1={{(graphHeight-25)/2}} ng-attr-y2="{{(graphHeight-25)/2}}" stroke="#DED8D8" stroke-width="2"  />
            <line opacity="0.75" ng-attr-x1="{{0}}" ng-attr-x2="{{graphWidth}}" ng-attr-y1={{(graphHeight-25)}} ng-attr-y2="{{(graphHeight-25)}}" stroke="#DED8D8" stroke-width="2"  />
          </g>
          <g transform="translate(20, 0)">
            <g transform="translate(5, 0)"> -->
              <!-- <g>
                <line ng-repeat="point in ratingPoints track by $index" y1="{{graphHeight - 20}}" x1="{{$index*abscissaSpacer}}" x2="{{$index*abscissaSpacer}}" y2="{{(graphHeight - 20) - 7}}" stroke="#333333" stroke-width="2"/>
              </g> -->
              <!--<g>
                <text fill="#000000" font-size="16px" font-weight="bold" text-anchor="middle" ng-repeat="point in ratingPoints track by $index" ng-attr-y="{{graphHeight - 5}}" ng-attr-x="{{$index*abscissaSpacer}}">
                  {{$index | getTheMonthName}}
                </text>
              </g>
            </g>
            <g>
              <line ng-repeat="point in ratingPoints track by $index" ng-attr-x1="{{(pointRadius + $index*abscissaSpacer)}}" ng-attr-x2="{{(pointRadius + ($index+1)*abscissaSpacer)}}" ng-attr-y1="{{ (graphHeight - borderWidth*2 + pointRadius) - ( (point.y) * ((graphHeight-borderWidth*2)/maxOrdinate) )}}" ng-attr-y2="{{ (graphHeight - borderWidth*2 + pointRadius) - ( (ratingPoints[$index+1].y) * ((graphHeight-borderWidth*2)/maxOrdinate) )}}" stroke="#91A2F7" stroke-width="5" ng-if="$index != (ratingPoints.length - 1)" />
            </g> -->
            <!-- Tickets Line -->
            <!--<g>
              <line ng-if="ticketDetails.x" ng-attr-x1="{{(pointRadius + (ticketDetails.x - 1)*abscissaSpacer)}}" ng-attr-x2="{{(pointRadius + (ticketDetails.x - 1)*abscissaSpacer)}}" ng-attr-y1={{(graphHeight-25)}} ng-attr-y2="{{ (graphHeight - borderWidth*2 + pointRadius) - ( (ratingPoints[ticketDetails.x - 1].y) * ((graphHeight-borderWidth*2)/maxOrdinate) )}}" stroke="#FFE491" stroke-width="5" />
              <g>
                <text ng-if="ticketDetails.x" ng-attr-x="{{(pointRadius + (ticketDetails.x - 1)*abscissaSpacer)}}" ng-attr-y="{{ (graphHeight - borderWidth*2 + pointRadius) - ( (ratingPoints[ticketDetails.x - 1].y) * ((graphHeight-borderWidth*2)/maxOrdinate) ) - 15}}" fill="#333333" text-anchor="middle">
                  {{ticketDetails.numOfTicketsConfirmed}}/{{units.length}}
                </text>

              </g>
            </g>

            <g>
              <circle ng-repeat="point in ratingPoints track by $index" ng-attr-r="{{pointRadius}}" ng-attr-cx="{{(pointRadius + $index*abscissaSpacer)}}" ng-attr-cy="{{ (graphHeight - borderWidth*2 + pointRadius) - ( (point.y) * ((graphHeight-borderWidth*2)/maxOrdinate) )}}" fill="#4D6AFF" />
            </g>
          </g>
        </svg>
      </div>

    </div>

    <div class="total-respondents">
      <h3>Total Repondents</h3>

      <h1 ng-bind="appMeta.totalRespondents"></h1>

      <a href="#" class="generate-ticket-btn" ng-click="isTicketModal = !isTicketModal">Generate Ticket</a>
    </div>


  </div> -->

  <div style="display:none" class="sv-modal" ng-show="isTicketModal">
    <div class="modal-content">
      <div class="ticket-modal">
        <h2>In how many outlets?</h2>
        <div class="ticket-form">
          <div class="radio-group">
            <input id="all-units" type="radio" name="unit-type" />
            <label for="all-units">All</label>
          </div>
          <div class="radio-group">
            <input id="some-units" type="radio" name="unit-type" />
            <label for="some-units">Some</label>
          </div>
          <div class="units-selection">
            <h4>Choose the oulets</h4>
            <div class="checkboxes">
              <div class="checkbox-group" ng-repeat="unit in units">
                <input id="unit-{{unit.id}}" type="checkbox" name="unit{{unit.id}}" />
                <label for="unit-{{unit.id}}" ng-bind="unit.name"></label>
              </div>
            </div>
          </div>
        </div>
        <div class="ticket-message">
          <h3>Write the message task :</h3>
          <textarea></textarea>
        </div>
        <button type="button" class="ticket-action">Generate</button>
      </div>
      <a href="#" class="modal-close" ng-click="isTicketModal = !isTicketModal"></a>
    </div>
  </div>

  <!-- Features -->
  <div class="sv-features">

    <ul>

      <!--
        ** Scope Model : feature
        ** Properties:-
        *** label
      -->

      <li class="sv-feature-label" ng-repeat="feature in features track by $index">
        <a href="#" ng-bind="feature.label" style="border-color: {{colors[$index%(colors.length)]}}"></a>
      </li>

    </ul>

  </div>

  <!-- App::Features -->
  <div class="sv-unit-features">

    <ul>

      <!--
        ** Scope Model : feature (from unit.features)
        ** Properties:-
        *** label
      -->

      <li class="sv-unit-feature-block" ng-repeat="feature in features track by $index">

        <div class="unit-feature-score" style="background-color: {{colors[$index%colors.length]}}">
          <h1 ng-bind="feature.score"></h1>
        </div>

        <div class="unit-feature-label">
          <h4 ng-bind="feature.label"></h4>
        </div>

      </li>

    </ul>

  </div>

  <!-- Units -->
  <div class="sv-units">

    <!-- Initialize the width of the block and the bar's width to center the graph
      **totalMaxGraphHeight: 150px;
      **blockWidth: 225px;
      **barWidth: 25px;
      **barMargin: 5px;

      and calculate the totalGraphWidth and amount to translate the group to center it by using the $scope.features array
    -->

    <ul>
      <!--
        ** Scope Model : unit
        ** Properties:-
        *** names
        *** overallScore
        *** features {->} feature
        **** feature.score
      -->

      <li style="width: {{theGraph.blockWidth}}px" class="sv-unit-block" ng-repeat="unit in units">

        <div class="unit-header">
          <h4>
            <a href="#/unit/{{unit.id}}" ng-bind="unit.name"></a>
          </h4>
        </div>

        <div class="unit-rating" style="background-color: {{colors[$index%(colors.length)]}}">
          <h2 ng-bind="unit.overallScore"></h2>
        </div>

        <div class="unit-feature-graph" ng-init="maxScore = maxElementFromArray(unit.features)">

          <svg ng-attr-height="{{theGraph.totalMaxGraphHeight}}">
            <g ng-attr-transform="translate({{theGraph.groupToTranslate}}, 0)">
              <g ng-repeat="feature in unit.features track by $index" ng-attr-transform="translate({{25*$index+5*$index}},0)">
                <text fill="#000000" font-size="16px" font-weight="bold" text-anchor="middle">
                  {{feature.score}}
                </text>
                <rect ng-attr-y="{{0}}" ng-attr-height="{{feature.score * (theGraph.barHeight/maxScore)}}" ng-attr-width="{{theGraph.barWidth}}" fill="{{colors[$index%colors.length]}}"  />
              </g>
            </g>
          </svg>

        </div>

      </li>

    </ul>

  </div>

</div>
