<div id="main-content" class="sv-main-content">

  <div class="sv-overall-rating">

    <div class="rating-group">

      <div class="rating-header">
        <h1>Overall Qualitative Survaider Rating - QSR</h1>
      </div>

      <div class="rating-graph">
        <svg ng-attr-width="{{ratingGraph.graphWidth}}" ng-attr-height="{{ratingGraph.graphHeight}}">
          <g>
            <line opacity="0.75" ng-attr-x1="{{0}}" ng-attr-x2="{{ratingGraph.graphWidth}}" ng-attr-y1={{0}} ng-attr-y2="{{0}}" stroke="#DED8D8" stroke-width="2"  />
            <line opacity="0.75" ng-attr-x1="{{0}}" ng-attr-x2="{{ratingGraph.graphWidth}}" ng-attr-y1={{(ratingGraph.graphHeight-25)/2}} ng-attr-y2="{{(ratingGraph.graphHeight-25)/2}}" stroke="#DED8D8" stroke-width="2"  />
            <line opacity="0.75" ng-attr-x1="{{0}}" ng-attr-x2="{{ratingGraph.graphWidth}}" ng-attr-y1={{(ratingGraph.graphHeight-25)}} ng-attr-y2="{{(ratingGraph.graphHeight-25)}}" stroke="#DED8D8" stroke-width="2"  />
          </g>
          <g transform="translate(20, 0)">
            <g ng-repeat="date in dates track by $index" transform="translate(5, 0)">
              <g>
                <line ng-attr-y1="{{ratingGraph.graphHeight - 20}}" ng-attr-x1="{{$index*ratingGraph.abscissaSpacer}}" ng-attr-x2="{{$index*ratingGraph.abscissaSpacer}}" ng-attr-y2="{{(ratingGraph.graphHeight - 20) - 7}}" stroke="#333333" stroke-width="2"/>
              </g>
              <g>
                <text fill="#000000" font-size="16px" font-weight="bold" text-anchor="middle" ng-attr-y="{{ratingGraph.graphHeight - 5}}" ng-attr-x="{{$index*ratingGraph.abscissaSpacer}}">
                  <tspan>{{(formatDate(date)).getDate() + "-"}}</tspan>
                  <tspan>{{formatNumber((formatDate(date)).getMonth() + 1)}}</tspan>
                </text>
              </g>
            </g>
            <g>
              <line ng-repeat="point in ratingPoints track by $index" ng-attr-x1="{{(ratingGraph.pointRadius + $index*ratingGraph.abscissaSpacer)}}" ng-attr-x2="{{(ratingGraph.pointRadius + ($index+1)*ratingGraph.abscissaSpacer)}}" ng-attr-y1="{{ (ratingGraph.graphHeight - ratingGraph.borderWidth*2 + ratingGraph.pointRadius) - ( (point.y) * ((ratingGraph.graphHeight-ratingGraph.borderWidth*2)/ratingGraph.maxOrdinate) )}}" ng-attr-y2="{{ (ratingGraph.graphHeight - ratingGraph.borderWidth*2 + ratingGraph.pointRadius) - ( (ratingPoints[$index+1].y) * ((ratingGraph.graphHeight-ratingGraph.borderWidth*2)/ratingGraph.maxOrdinate) )}}" stroke="#91A2F7" stroke-width="5" ng-if="$index != (ratingPoints.length - 1)" />
            </g>

            <g>
              <line ng-repeat="ticket in tickets" ng-attr-x1="{{(ratingGraph.pointRadius + (ticket.x)*ratingGraph.abscissaSpacer)}}" ng-attr-x2="{{(ratingGraph.pointRadius + (ticket.x)*ratingGraph.abscissaSpacer)}}" ng-attr-y1={{(ratingGraph.graphHeight-25)}} y2="0" stroke="#FFE491" stroke-width="5" />
            </g>

            <g>
              <circle ng-repeat="point in ratingPoints track by $index" ng-attr-r="{{ratingGraph.pointRadius}}" ng-attr-cx="{{(ratingGraph.pointRadius + $index*ratingGraph.abscissaSpacer)}}" ng-attr-cy="{{ (ratingGraph.graphHeight - ratingGraph.borderWidth*2 + ratingGraph.pointRadius) - ( (point.y) * ((ratingGraph.graphHeight-ratingGraph.borderWidth*2)/ratingGraph.maxOrdinate) )}}" fill="#4D6AFF" />
            </g>
          </g>
        </svg>
      </div>

    </div>

    <div class="total-respondents">
      <h3>Total Repondents</h3>

      <h1 ng-bind="appMeta.totalRespondents"></h1>

      <a href="#" class="generate-ticket-btn" ng-click="prepareTicketModal()">Generate Ticket</a>
    </div>


  </div>

  <div class="sv-modal" ng-show="isTicketModal">
    <div class="modal-content">
      <div class="ticket-modal">
        <h2>In how many outlets?</h2>
        <div class="ticket-form">
          <div class="radio-group">
            <input ng-model="ticketForm.isCheckAll" ng-click="ticketForm.checkAll()" id="all-units" type="radio" name="unit-type" />
            <label for="all-units" ng-click="ticketForm.checkAll()">All</label>
          </div>
          <div class="radio-group">
            <input ng-model="ticketForm.isCheckSome" ng-click="ticketForm.checkSome()" id="some-units" type="radio" name="unit-type" />
            <label for="some-units" ng-click="ticketForm.checkSome()">Some</label>
          </div>
          <div class="units-selection">
            <h4>Choose the oulets</h4>
            <div class="checkboxes">
              <div class="checkbox-group" ng-repeat="unit in ticketForm.units">
                <input ng-model="unit.isSelected" id="unit-{{unit.id}}" type="checkbox" />
                <label for="unit-{{unit.id}}" ng-bind="unit.name"></label>
              </div>
            </div>
          </div>
        </div>
        <div class="ticket-message">
          <h3>Write the message task :</h3>
          <textarea ng-model="ticketForm.ticketMessage"></textarea>
        </div>
        <button ng-click="ticketForm.sendTheTicketDetail()" type="button" class="ticket-action">Generate</button>
      </div>
      <a href="#" class="modal-close" ng-click="isTicketModal = !isTicketModal"></a>
    </div>
  </div>


  <div class="tabs" id="tabs">

    <nav>
      <ul>
        <li class="tab-current"><a href="#section-1">Overall</a></li>
        <li><a href="#section-1">Facebook</a></li>
        <li><a href="#section-1">Twitter</a></li>
        <li><a href="#section-1">Tripadvisor</a></li>
        <li><a href="#section-1">Zomato</a></li>
      </ul>
    </nav>

    <div class="tab-content">

      <div id="section-1">

        <!-- App::Features -->
        <div class="sv-unit-features">

          <ul>

            <!--
              ** Scope Model : feature (from unit.features)
              ** Properties:-
              *** label
            -->

            <li class="sv-unit-feature-block" ng-repeat="feature in features track by $index">

              <div class="unit-feature-score" style="background-color: {{colors[$index%colors.length]}}">
                <h1 ng-bind="feature.score"></h1>
              </div>

              <div class="unit-feature-label">
                <h4 ng-bind="feature.label"></h4>
              </div>

            </li>

          </ul>

        </div>

        <!-- Units -->
        <div class="sv-units">

          <div class="units-graph" style="padding: 2em">

            <svg ng-attr-width="{{unitsGraph.outerWidth}}" ng-attr-height="{{unitsGraph.outerWidth}}">
              <g ng-repeat="counter in makeANumberArray(6)" transform="translate(0,75)">
                <line x1="30" ng-attr-y1="{{5 + 100*$index}}" ng-attr-x2="{{unitsGraph.width - 20}}" ng-attr-y2="{{5 + 100*$index}}" stroke="#DDDDDD" stroke-width="2" ></line>
                <text x="10" ng-attr-y="{{5 + 100*$index}}" text-anchor="middle">{{6-counter}}</text>
              </g>
              <line x1="30" y1="20" x2="30" ng-attr-y2="{{unitsGraph.height - 20}}" stroke="#979797" stroke-width="2" ></line>
              <line x1="30" ng-attr-y1="{{unitsGraph.height - 20}}" ng-attr-x2="{{unitsGraph.width - 20}}" ng-attr-y2="{{unitsGraph.height - 20}}" stroke="#979797" stroke-width="2" ></line>
              <g ng-repeat="unit in units" ng-init="$rootIndex = $index">
                <g transform="translate(0,75)">
                  <circle ng-repeat="feature in unit.features" ng-attr-cx="{{100 + 100*$rootIndex}}" ng-attr-cy="{{455 - 50*(feature.score)}}" r="10" ng-attr-fill="{{colors[$index%colors.length]}}"></circle>
                </g>
                <a xlink:href="{{'#/unit/' + unit.id}}">
                  <line ng-attr-x1="{{100 + 120*$rootIndex}}" ng-attr-x2="{{100 + 120*$rootIndex}}" ng-attr-y1="{{unitsGraph.height + 40 - 65}}" ng-attr-y2="{{unitsGraph.height + 40 - 55}}" stroke="#999" stroke-width="2"></line>
                  <circle ng-attr-cx="{{100 + 120*$rootIndex}}" ng-attr-cy="{{unitsGraph.height + 40}}" r="50" fill="#eee"></circle>
                  <text ng-attr-x="{{100 + 120*$rootIndex}}" ng-attr-y="{{unitsGraph.height + 40}}" fill="#333" font-size="12px" text-anchor="middle">{{unit.name}}</text>
                  <text ng-attr-x="{{100 + 120*$rootIndex}}" ng-attr-y="{{unitsGraph.height + 60}}" fill="#111" font-size="14px" text-anchor="middle">{{unit.overallScore}}</text>
                </a>
              </g>

              <g>
                <a xlink:href="/addUnit">
                  <line ng-attr-x1="{{100 + 120*unitsGraph.addUnitX}}" ng-attr-x2="{{100 + 120*(unitsGraph.addUnitX)}}" ng-attr-y1="{{unitsGraph.height + 40 - 65}}" ng-attr-y2="{{unitsGraph.height + 40 - 55}}" stroke="#999" stroke-width="2"></line>
                  <circle ng-attr-cx="{{100 + 120*(unitsGraph.addUnitX)}}" ng-attr-cy="{{unitsGraph.height + 40}}" r="50" fill="#eee"></circle>
                  <text ng-attr-x="{{100 + 120*(unitsGraph.addUnitX)}}" ng-attr-y="{{unitsGraph.height + 40}}" fill="#333" font-size="12px" text-anchor="middle">Add Unit</text>
                  <text ng-attr-x="{{100 + 120*(unitsGraph.addUnitX)}}" ng-attr-y="{{unitsGraph.height + 60}}" fill="#111" font-size="24px" text-anchor="middle">+</text>
                </a>
              </g>
            </svg>

          </div>

        </div>

      </div>

    </div>

  </div>


</div>
