<section role="title">
  <h5>Modify your <strong>Survaider</strong></h5>
</section>
<section role="body">
  <div>
    <div>
      <label>Name</label>
      <input type="text" rv-value="survey.meta.name">
    </div>
    <div>
      <div>
        <div>
          <input type="checkbox">
          <label>Set an Expiry Date</label>
          <input type="text" class="date" data-provide="datepicker" data-date-format="yyyy mm dd">
        </div>
      </div>
      <div>
        <div>
          <input type="checkbox">
          <label>Set Response Limit</label>
          <input type="number">
        </div>
      </div>
    </div>
  </div>

  <div>
    <div>
      <div>
        <div class="pull-left">
          <a href="#">
            <span class="label">
              <i class="fa fa-pause"></i>
              <i class="fa fa-play"></i>
              <span>Pause</span>
            </span>
          </a>
          <a href="#">
            <span class="label">
              <i class="fa fa-trash"></i>
              <span>Delete</span>
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 m-t-10 sm-m-t-10 text-right">
      <a href="#" class="ladda-button" data-style="expand-left">
        <span class="ladda-label">Save</span>
      </a>
      <br>
      <p>
        Saved
        <span data-livestamp=""></span>
      </p>
    </div>
  </div>
</div>
