<div>
  <section>
    <h1>Lets get started with measuring customer satisfaction!</h1>
    <p>
      <span class='orb'>1</span>
      Identify the key parameters that will affect your customer satisfaction, and add them here so that your visitors can rate you on it.</p>
    <p class="small">For example, Hotel ABC may identify four parameters like "Room Service", "Checkout process", "Cleanliness", "WiFi".</p>
  </section>
  <section>
    <select multiple="multiple" required name="s_tags" style="width: 100%">
      <option value="Room Service">Room Service</option>
      <option value="WiFi">WiFi</option>
    </select>
    <br>
    <br>
    <p>
      <span class='orb'>2</span>
      <label>Give your Survey a memorable Name</label>
      <input type="text" name="s_name" required placeholder="Survey Name">
    </p>
  </section>
</div>
