<div role="dock">
  <section role="intro">
    <h1>Setup your Dashboard</h1>
    <p>Get started with measuring customer satisfaction. Step one, add the key aspects important to your business.</p>
  </section>
  <section role="wizard">
    <div role="tabs">
      <ul>
        <li role="header">Setup primary surver</li>
        <li data-slide-title="key-aspect">Add key aspects</li>
        <li data-slide-title="business-units">Add Business Units</li>
        <li role="header">Configure Accounts</li>
        <li data-slide-title="facebook">Facebook</li>
        <li data-slide-title="twitter">Twitter</li>
        <li data-slide-title="websites">Review websites</li>
      </ul>
    </div>
    <div role="interaction">
      <div role="input" data-slides>
        <div data-slide="key-aspect">
          <p>It is important for an enterprise to be able to accurately measure the aspects of their business that are worthy of quantifying customer satisfaction.</p>
          <p>And Survaider helps in doing just that!</p>
          <hr>
          <p><em>Add the key aspects that you’d like to measure. Don’t bother about the “how” part, we take care of that!</em></p>

          <select multiple="multiple" required name="s_tags" data-onboarding-input style="width: 100%">
            <option value="Room Service">Room Service</option>
            <option value="WiFi">WiFi</option>
          </select>

          <p><small>For e.g, a hotel business could list “Cleanliness”, “Room Service”, and “Hospitality” as their key aspects.</small></p>
        </div>
        <div data-slide="business-units">
          <p>Build a robust analytics platform with insights pouring in from every physical touch-point where your customers interact with your business.</p>
          <hr>
          <p><em>Add your business units, and emails of those who will be handling the unit dashboards. You can always come back and edit these later.</em></p>

          <ul role="unit-input">
            <li class="header">
              <span>Unit Name</span>
              <span>Unit Owner's Email</span>
            </li>
            <li role="template">
              <input type="text" placeholder="eg. Hauz Khas"></input>
              <input type="email" placeholder="foo@bar"></input>
              <a href="#" class="button" role="deleteorb">&times;</a>
            </li>
          </ul>
          <a href="#" class="button" role="add">Add unit</a>

          <p><small>For e.g, an automobile company may list their dealerships with names “Lajpat Ngaar New Delhi”, and “Manhattan New York”</small></p>
        </div>
        <div data-slide="facebook">
          <p>Your customers are talking about you on social media. Harness those opinions made and conversations had.  And not only that, find out about issues and topics being talked about at each of your units.</p>
          <hr>
          <p><em>If you have Facebook pages for all your units separately, the unit managers will link them up, after which you will be able to view the insights.</em></p>
          <p><em>If you have ONE Facebook page for your entire business, you can link it here.</em></p>
        </div>
        <div data-slide="twitter">
          <p>Your customers are tweeting inecessantly about their experience with your business. Find the temperature of these discussions and see if they are in your favour!</p>
          <hr>
          <p><em>If you have Twitter pages for all your units separately, the unit managers will link them up, after which you will be able to view the insights.</em></p>
          <p><em>If you have ONE Twitter page for your entire business, you can link it here.</em></p>
        </div>
        <div data-slide="websites">
          <p>Delve into insights on your reviews from various other sources.</p>
          <p><em>In our version 1, you can integrate with </em></p>
        </div>
      </div>
      <div role="nav">
        <a href="javascript:void(0)" class="button" role="prev">Previous</a>
        <a href="javascript:void(0)" class="button" role="next">Next</a>
        <a href="javascript:void(0)" class="button" role="skip">Skip</a>
      </div>
    </div>
  </section>
</div>
