<div class="card unit" data-card="unit">
  <section class="matter">
    <h2><%= dat.unit_name %></h2>
    <ul class="statistics clear">
      <li>
        <h1>Responses</h1>
        <h2><%= numeral(dat.has_obtained_responses).format('0[.]00a') %></h2>
      </li>
      <li>
        <h1>QSR</h1>
        <h2><%= numeral(10).format('0[.]00a') %></h2>
      </li>
    </ul>
  </section>
  <section>
    <div class="sparkline"></div>
  </section>
  <section class="foot">
    <ul class="clear">
      <li>
        <a href="<%= dat.uri_edit %>#share">
          <i class="fa fa-cog"></i> Share
        </a>
      </li>
      <li>
        <a href="<%= dat.uri_responses %>">
          <i class="fa fa-area-chart"></i> Analytics
        </a>
      </li>
    </ul>
  </section>
</div>
