<div class="card <%= attrs.narrow %> <%= attrs.expand %>" data-card="parent">
  <div class="parent-unit">
    <section class="frontmatter">
      <h1><%= dat.name %></h1>

      <small>
        <span class="status-expanded">
          Created
          <strong>
            <span data-livestamp="<%= dat.created_on %>">(Loading)</span>
          </strong>
        </span>
        <ul class="status-narrow">
          <li><i class="fa fa-circle-o idle"></i>Active</li>
          <li><i class="fa fa-rss alert"></i>10 critical alerts</li>
        </ul>
      </small>

      <ul class="statistics clear">
        <li>
          <h1>Responses</h1>
          <h2>
            <%= numeral(dat.has_obtained_responses).format('0[.]00a') %>
          </h2>
        </li>
        <li>
          <% if (dat.has_response_cap !== Math.pow(2,32)) { %>
          <h1>Goal</h1>
          <h2><%= numeral(dat.has_response_cap).format('0[.]00a') %></h2>
          <% } %>
        </li>
      </ul>
      <a href="javascript:void(0)" class="more">
        <i class="fa fa-arrow-circle-down"></i>More
      </a>
    </section>
    <section class="status">
      <h1>
        Status
        <a href="javascript:void(0)" class="less">
          <i class="fa fa-arrow-circle-up"></i>Show Less
        </a>
      </h1>

      <ul>
        <li><i class="fa fa-circle-o idle"></i>Active</li>
        <li>
          <i class="fa fa-clock-o primary"></i>
          Modified
          <strong>
          <span data-livestamp="<%= dat.last_modified %>">(Loading)</span>
          </strong>
        </li>
        <li><i class="fa fa-rss alert"></i>10 critical alerts</li>
        <% if (dat.units.length == 0) { %>
        <li><a href="javascript:void(0)" class="survey-unit-btn">Add Survey Unit</a></li>
        <% } %>
      </ul>
    </section>
    <section class="footer">
      <section class="destinations">
        <ul class="clear">
          <a href="<%= dat.uri_responses %>">
            <li><i class="fa fa-area-chart"></i> Analytics</li>
          </a>
          <a href="<%= dat.uri_edit %>">
            <li><i class="fa fa-edit"></i> Edit</li>
          </a>
        </ul>
      </section>
      <section class="actions">
        <ul class="clear">
          <li>
            <a href="<%= dat.uri_edit %>#settings">
              <i class="fa fa-cog"></i> Settings
            </a>
          </li>
          <li>
            <a href="<%= dat.uri_edit %>#share">
              <i class="fa fa-share-alt"></i> Share
            </a>
          </li>
          <li>
            <a href="<%= dat.uri_edit %>#share">
              <i class="fa fa-star"></i> Preview
            </a>
          </li>
        </ul>
      </section>
    </section>
  </div>
  <div class="subunit-container">
  </div>
</div>
