<div role="dock">
  <section role="intro">
    <h1>Setup your Dashboard</h1>
    <p>Get started with measuring customer satisfaction. Step one, add the key aspects important to your business.</p>
  </section>
  <section role="wizard">
    <div role="tabs">
      <ul>
        <li role="header">Setup primary surver</li>
        <li data-slide-title="key-aspect">
          <a href="javascript:void(0)">Add key aspects</a>
        </li>
        <li data-slide-title="business-units">
          <a href="javascript:void(0)">Add Business Units</a>
        </li>
        <li role="header">Configure Accounts</li>
        <li data-slide-title="facebook">
          <a href="javascript:void(0)">Facebook</a>
        </li>
        <li data-slide-title="twitter">
          <a href="javascript:void(0)">Twitter</a>
        </li>
        <li data-slide-title="websites">
          <a href="javascript:void(0)">Review websites</a>
        </li>
      </ul>
    </div>
    <div role="interaction">
      <div role="input" data-slides>
        <div data-slide="key-aspect">
          <p>It is important for an enterprise to be able to accurately measure the aspects of their business that are worthy of quantifying customer satisfaction.</p>
          <p>And Survaider helps in doing just that!</p>
          <hr>
          <p><em>Enter the name of your business</em></p>
          <input type="text" placeholder="Your Business" style="width: 100%" tabindex="-1"></input>
          <p><em>Add the key aspects that you’d like to measure. Don’t bother about the “how” part, we take care of that!</em></p>

          <select multiple="multiple" required name="s_tags" data-onboarding-input style="width: 100%" tabindex="-1">
            <option value="Room Service">Room Service</option>
            <option value="WiFi">WiFi</option>
          </select>

          <p><small>For e.g, a hotel business could list “Cleanliness”, “Room Service”, and “Hospitality” as their key aspects.</small></p>
        </div>
        <div data-slide="business-units">
          <p>Build a robust analytics platform with insights pouring in from every physical touch-point where your customers interact with your business.</p>
          <hr>
          <p><em>Add your business units, and emails of those who will be handling the unit dashboards. You can always come back and edit these later.</em></p>

          <div class="header">
            <span>Unit Name</span>
            <span>Unit Owner's Email</span>
          </div>
          <ul role="unit-input">
            <li role="template">
              <input type="text" placeholder="eg. Hauz Khas" tabindex="-1"></input>
              <input type="email" placeholder="foo@bar" tabindex="-1"></input>
              <a href="javascript:void(0)" class="button" role="deleteorb" tabindex="-1">&times;</a>
            </li>
          </ul>
          <a href="javascript:void(0)" class="button" role="add" tabindex="-1">Add unit</a>

          <p><small>For e.g, an automobile company may list their dealerships with names “Lajpat Ngaar New Delhi”, and “Manhattan New York”</small></p>
        </div>
        <div data-slide="facebook">
          <p>Your customers are talking about you on social media. Harness those opinions made and conversations had.  And not only that, find out about issues and topics being talked about at each of your units.</p>
          <hr>
          <p><em>If you have Facebook pages for all your units separately, the unit managers will link them up, after which you will be able to view the insights.</em></p>
          <p><em>If you have ONE Facebook page for your entire business, you can link it here.</em></p>
          <input type="text" placeholder="https://facebook.com/yourpage" tabindex="-1"></input>
        </div>
        <div data-slide="twitter">
          <p>Your customers are tweeting inecessantly about their experience with your business. Find the temperature of these discussions and see if they are in your favour!</p>
          <hr>
          <p><em>If you have Twitter pages for all your units separately, the unit managers will link them up, after which you will be able to view the insights.</em></p>
          <p><em>If you have ONE Twitter page for your entire business, you can link it here.</em></p>
          <input type="text" placeholder="https://twitter.com/@you" tabindex="-1"></input>
        </div>
        <div data-slide="websites">
          <p>Delve into insights on your reviews from various other sources.</p>
          <p><em>In our version 1, you can integrate with </em></p>
          <div role="partners">
            <div role="partner">
              <div class="boxed">
                <img src="/static/img/partner/Tripadvisor-logo.png">
              </div>
              <p>Have an overall business TripAdvisor page? Paste the link here</p>
              <input type="text" placeholder="good trip" tabindex="-1" for="tripadvisor"></input>
            </div>
            <div role="partner">
              <div class="boxed">
                <img src="/static/img/partner/Zomato-Logo-red-background.png">
              </div>
              <p>Have an overall business Zomato page? Paste the link here</p>
              <input type="text" placeholder="good trip" tabindex="-1" for="zomato"></input>
            </div>
          </div>
          <p><small>Individual units’ TripAdvisor or Zomato pages can be added by the unit managers, after which you will be able to see the insights.</small></p>

        </div>
      </div>
      <div role="nav">
        <a href="javascript:void(0)" class="button" role="prev">Previous</a>
        <a href="javascript:void(0)" class="button" role="next">Next</a>
        <a href="javascript:void(0)" class="button" role="skip">Skip</a>
      </div>
    </div>
    <div role="overlay" data-overlay="success" class="visible">
      <div role="inner">
        <p>&ldquo;I really want to fill this long feedback form!&rdquo; - said no one ever.</p>
        <hr>
        <p><em>This is why at Survaider we believe in short and quick survey-taking. Take a preview at what your survey looks like - so far - and edit to add more questions from our list of available question options.</em></p>
        <br>
        <a href="javascript:void()" class="button" role="edit">Edit Survey</a>
        <a href="/dashboard" class="button" role="dashboard">Go to Dashboard</a>
      </div>
    </div>
    <div role="overlay" data-overlay="review" class="visible">
      <div role="inner">
        <h4>Looks good?</h4>
        <p>Please Review the information you've provided</p>
        <hr>
        <dl role="review-fields"></dl>
        <hr>
        <p>
        <a href="javascript:void(0)" class="button" role="close">Go back</a>
        <a href="javascript:void(0)" class="button" role="proceed">Proceed</a>
        <p>
      </div>
    </div>
  </section>
</div>
