<li class="notification survey-response" data-card="parent">
  <section class="title">
    <i class="fa fa-bolt icon"></i>
    <p>Subscribed Notification</p>
    <p>
      <i class="fa fa-clock-o"></i>
      <span data-livestamp="<%= dat.acquired %>"><%= dat.acquired %></span>
    </p>
    <button><i class="fa fa-times"></i></button>
  </section>

  <section class="main">
    <h2>Response at <strong><%= dat.survey.name %></strong>.</h2>
    <% if (dat.root.id !== dat.survey.id) { %>
    <h3>Main Survey: <%= dat.root.name %></h3>
    <% }; %>

    <ul>
      <% _.each(dat.payload, function(doc) { %>
        <li>
          <div class="question">
            <%= doc.label %>
          </div>
          <div class="answer"><%= doc.res_label %></div>
        </li>
      <% }); %>
    </ul>
  </section>

  <section class="">
    <button>Analytics</button>
    <button>More Details</button>
  </section>
</li>
