<li class="notification survey-response" data-card="parent" data-collapse="<%= dat.collapse %>">
  <section class="title">
    <i class="fa fa-bolt icon"></i>
    <p>Subscribed Notification</p>
    <p>
      <i class="fa fa-clock-o"></i>
      <span data-livestamp="<%= dat.acquired %>"><%= dat.acquired %></span>
    </p>
    <button><i class="fa fa-times" data-action="mark_finished"></i></button>
  </section>

  <section class="main">
    <h2>Response at <strong><%= dat.survey.name %></strong>.</h2>
    <% if (dat.root.id !== dat.survey.id) { %>
    <h3>Main Survey: <%= dat.root.name %></h3>
    <% }; %>

    <ul>
      <table>
      <% _.each(dat.payload, function(doc) { %>
          <tr>
            <td class="details">
              A response "<%= doc.res_label %>" to the question "<%= doc.label %>" at outlet
            </td>
            <td class="buttons">
              <a href=""><button>Analytics</button></a>
              <a href=""><button>More Details</button></a>
            </td>
          </tr>
      <% }); %>
    </table>
    </ul>
            <ul role="comments">
              <% _.each(dat.comments, function(doc) { %>
              <li data-user-id="<%= doc.user.id %>">
                <i class="fa fa-clock-o"></i>
                <!-- <span data-livestamp="<%= doc.added %>"><%= doc.added %></span> -->

                <!-- <span><%= doc.user.email %></span> -->
                <% if (dat.origin == doc.user.id) { %>
                <span>Owner</span>
                <% } %>
                <p class="message"><%= doc.text %></p>
              </li>
              <% }); %>
              <li>
                <span data-action="add_comment">Add a Comment</span>
                <input type="text" data-input="add_comment"></input>

              </li>
            </ul>
  </section>
</li>
