<li class="notification survey-ticket" data-card="parent">
  <small><span data-livestamp="<%= dat.acquired %>">(Loading)</span></small>

  <ul>
    <% _.each(dat.survey_unit, function(doc) { %>
      <li>
        <h2><%= doc.name %></h2>
        <small><%= doc.id %></small>
      </li>
    <% }); %>
  </ul>
  <ul>
    <% _.each(dat.targets, function(doc) { %>
      <li>
        <h2><%= doc.email %></h2>
        <small><%= doc.id %></small>
      </li>
    <% }); %>
  </ul>
  <p class="message"><%= dat.payload.original_msg %></p>
  <a href="#">Mark Finished</a>
</li>
