<li class="notification survey-ticket" data-card="parent" data-collapse="<%= dat.collapse %>">
  <section class="title">
    <i class="fa fa-bookmark icon"></i>
    <p>Ticket ID: <strong><%= dat.id %></strong></p>
    <p>
      <i class="fa fa-clock-o"></i>
      <span data-livestamp="<%= dat.acquired %>"><%= dat.acquired %></span>
    </p>
    <button><i class="fa fa-times"></i></button>
  </section>

  <p data-survey-id="<%= dat.root_survey.id %>">Main Survey: <%= dat.root_survey.name %></p>

  <ul>
    <% _.each(dat.survey_unit, function(doc) { %>
      <li>
        <span><%= doc.name %></span>
        <small><%= doc.id %></small>
      </li>
    <% }); %>
  </ul>
  <ul>
    <% _.each(dat.targets, function(doc) { %>
      <li data-user-id="<%= doc.id %>">
        <span><%= doc.email %></span>
        <% if (dat.origin == doc.id) { %>
          <span>Owner</span>
        <% } %>
      </li>
    <% }); %>
  </ul>
  <p class="message"><%= dat.payload.original_msg %></p>

  <ul role="comments">
    <% _.each(dat.payload.comments, function(doc) { %>
      <li data-user-id="<%= doc.user.id %>">
        <i class="fa fa-clock-o"></i>
        <span data-livestamp="<%= doc.added %>"><%= doc.added %></span>

        <span><%= doc.user.email %></span>
        <% if (dat.origin == doc.user.id) { %>
          <span>Owner</span>
        <% } %>
        <p class="message"><%= doc.text %></p>
      </li>
    <% }); %>
    <li>
      <input type="text" data-input="add_comment"></input>
      <span data-action="add_comment">Add a Comment</span>
    </li>
  </ul>
  <% if (dat.flagged) {%>
    <span data-action="mark_finished">Mark Finished</span>
  <% } else { %>
    <span data-action="expand">Expand/Collapse</span>
  <% } %>
</li>
