/* Validation, Login, Email Verification, Sign Up */

.progress-text-area
  background: url('../img/progress/progress.svg') no-repeat top left
  width: 30px
  height: 30px
  background-size: 100% auto
  margin: 0 auto
  position: absolute
  top: 7px
  right: 12px

