{% extends "master_partial.html" %}

{% block body %}
    <div class="register-container full-height sm-p-t-30">
      <div class="container-sm-height full-height">
        <div class="row row-sm-height">
          <div class="col-sm-12 col-sm-height col-middle">
            <img alt="logo" 
              src="{{ config.SRP }}/assets/img/logo.one.png"
              data-src="{{ config.SRP }}/assets/img/logo.one.png"
              data-src-retina="{{ config.SRP }}/assets/img/logo.one.png"
              height="120">
            <h3>Hi, <strong>{{ u_dat.name }}!</strong><br> We're glad to see you.</h3>
            <p>You're one step away from accessing your Survaider account. We need to <strong>verify your email</strong>.</p>
            <div id="stage_one">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group form-group-default">
                    <label>Email</label>
                    <input type="email" name="email" placeholder="Your Email ID" class="form-control" required value="{{ u_dat.email }}">
                    <div class="progress-text-asrea" id="progress_btn"></div>
                  </div>
                </div>
              </div>
              <button class="btn btn-complete btn-cons m-t-10" type="submit" onclick='$("#progress_btn").addClass("progress-text-area");'>Mail Sent</button>

              <div class="row m-t-10">
                <div class="col-md-12">
                  <p>By proceeding, you are agreeing to <a href="#" class="text-info small">Survaider Terms of Use</a> and <a href="#" class="text-info small">Privacy Policy</a>.</p>
                </div>
              </div>
            </div>
            <div id="stage_2">
          </div>
        </div>
      </div>
    </div>
{% endblock %}