{% extends "master.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block body_class %}profile{% endblock %}

{% block main_content %}
<div class="row intro">
    <div class="col-sm-3 text-center user">
        <p class="display-picture"><img src="{{ config.SRP }}/demo/assets/img/profiles/c2x.jpg"></p>
        <p class="medal-banner">LEVEL</p>
        <p>John Doe</p>
    </div>
    <div class="col-sm-9">
        MEDALS MEDALS MEDALSSSSS!!
    </div>
</div>
<div class="row">
    BADGESSS!
</div>
<div class="row">
    ACHIEVEMENTS!
</div>
{% endblock %}
