{% extends "master.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block body_class %}profile{% endblock %}

{% block main_content %}
<div class="row">
    <div class="col-lg-12 text-center causes_bar">
        <button class="btn animal btn-cons">Animal Welfare</button>
        <button class="btn women btn-cons">Women Empowerment</button>
        <button class="btn education btn-cons">Education</button>
        <button class="btn health btn-cons">Health Care</button>
        <button class="btn children btn-cons">Children Rights</button>
        <button class="btn environment btn-cons">Environment</button>
    </div>
</div>
{% endblock %}
