{% extends "master.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block body_class %}story{% endblock %}

{% block main_content %}
<div class="row cover">
    <img src="{{ config.SRP }}/demo/assets/img/social/person-1.jpg">
    <div class="col-md-8 intro">
        <span class="length">10 minutes read.</span>
    </div>
    <div class="col-md-4 info">
        <h1>Sheetal and her adventures in Space</h1>
        <ul>
            <li>500 followers</li>
            <li>Raised 200 Fake Currencies</li>
            <li>Posted on 22/22/2222</li>
        </ul>
    </div>
</div>
<div class="row story">
    <div class="col-lg-12">
        <p>A Chinese tale tells of some men sent to harm a young girl who, upon seeing her beauty, become her protectors rather than her violators. That's how I felt seeing the Earth for the first time. I could not help but love and cherish her.</p>

        <p>NASA is not about the ‘Adventure of Human Space Exploration’…We won’t be doing it just to get out there in space – we’ll be doing it because the things we learn out there will be making life better for a lot of people who won’t be able to go.</p>

        <p>The sky is the limit only for those who aren't afraid to fly!</p>

        <p>Failure is not an option.</p>

        <p>Houston, Tranquillity Base here. The Eagle has landed.</p>

        <p>Curious that we spend more time congratulating people who have succeeded than encouraging people who have not.</p>

        <p>Never in all their history have men been able truly to conceive of the world as one: a single sphere, a globe, having the qualities of a globe, a round earth in which all the directions eventually meet, in which there is no center because every point, or none, is center — an equal earth which all men occupy as equals. The airman's earth, if free men make it, will be truly round: a globe in practice, not in theory.</p>

        <p>For those who have seen the Earth from space, and for the hundreds and perhaps thousands more who will, the experience most certainly changes your perspective. The things that we share in our world are far more valuable than those which divide us.</p>

        <p>That's one small step for [a] man, one giant leap for mankind.</p>

        <p>Curious that we spend more time congratulating people who have succeeded than encouraging people who have not.</p>
    </div>
</div>
{% endblock %}
