<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>{{ title }} - Survaider</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="apple-touch-icon" href="{{ config.SRP }}/pages/ico/60.png">
    <link rel="apple-touch-icon" href="{{ config.SRP }}/pages/ico/76.png" sizes="76x76">
    <link rel="apple-touch-icon" href="{{ config.SRP }}/pages/ico/120.png" sizes="120x120">
    <link rel="apple-touch-icon" href="{{ config.SRP }}/pages/ico/152.png" sizes="152x152">
    <link rel="icon" href="favicon.ico" type="image/x-icon" >

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{{ config.SRP }}/assets/plugins/boostrapv3/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="{{ config.SRP }}/assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="{{ config.SRP }}/assets/css/style.css" rel="stylesheet" type="text/css">

    <!--[if lte IE 9]>
            <link href="{{ config.SRP }}/pages/css/ie9.css" rel="stylesheet" type="text/css" />
    <![endif]-->

    {% endblock %}
</head>
<body class="tour">
    <div class="hero bg-nrml"></div>
    <div class="hero bg-blur"></div>
    <section class="section-one">
        <div class="row">
            <div class="col-md-6 vcenter outer">
                <div class="vcenter inner">
                    <h1>Survaider</h1>
                    <h2>Want to contribute to a Social Cause?</h2>
                    <h3>Let’s Play a Game.</h3>
                    <p>Shoot, Jump and Slide to earn coins and donate to causes you support.</p>
                    <button>Let's Get Started</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="rgow" id="drawing">
                </div>
            </div>
        </div>
    </section>
    <section class="section-two">
        LOL
    </section>
    <script src="{{ config.SRP }}/assets/plugins/jquery/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script type="text/javascript">
    /**
     * Calculates the appropriate transparency value for smooth transition.
     * @param  float x Current distance (in px) from the top document.
     * @param  float a Beginning pixel of the transition.
     * @param  float b Ending pixel of the transition.
     * @return float   The opacity value.
     */
    var calculate_opacity = function (x, a, b) {
        "use strict";
        if (x < a) {
            return 0;
        }
        else if (x > b) {
            return 1;
        }
        else {
            var blur_value = (Math.sin((x * Math.PI) / (b - a) - (Math.PI * a) / (b - a) - 3 * Math.PI / 2) + 1) / 2;
            return 1 - blur_value;
        }
    };

    $(window).on("scroll", function() {
        "use strict";
        var scroll = $("body").scrollTop(),
            start  = window.innerHeight * 0.1,
            end    = window.innerHeight * 0.5,

            opacity_value = calculate_opacity(scroll, start, end);

        $(".bg-blur").css("opacity", opacity_value)
        $(".bg-nrml").css("opacity", 1 - opacity_value)
    });
    </script>
<script type="text/javascript" src="{{ config.SRP }}/assets/js/svg.min.js"></script>
<script type="text/javascript" src="{{ config.SRP }}/assets/js/svg.parser.js"></script>
<script type="text/javascript" src="{{ config.SRP }}/assets/js/svg.import.min.js"></script>
<script type="text/javascript" src="{{ config.SRP }}/assets/js/svg.survaider.js"></script>
</body>
</html>