html, body
    height: 100%

body.tour
    position: relative
    z-index: 0
    .hero
        position: fixed
        left: 0
        right: 0
        top: 0
        bottom: 0
        width: 100%
        width: 100vw
        height: 100%
        height: 100vh
        background: #FFF
        background-size: 1757px 845px
        background-repeat: no-repeat
        background-position: center top

        &.bg-nrml
            background-image: url(//localhost:99/assets/hero/tour-scribble-nrml.png)
            z-index: -2

        &.bg-blur
            background-image: url(//localhost:99/assets/hero/tour-scribble-blur.png)
            z-index: -1
            opacity: 0

    section
        .row
            margin: 0
            height: 100%

            & > div
                position: relative
                height: 100%

                div
                    position: absolute
                    top: 50%
                    transform: translateY(-50%)

    section.section-one, section.section-two
        position: relative
        height: 100%
        height: 100vh

    section.section-one
        //background: #16a085

    section.section-two
        //background: #2980b9
