@import url(http://fonts.googleapis.com/css?family=Work+Sans:400,100,200,300,500,600)
@import "bourbon/bourbon"

$breakl: 700px
$breaku: 701px
$bg_w: 1440px
$section_panic: 1368px

html, body
    height: 100%
    margin: 0

body.tour
    font-family: 'Work Sans', sans-serif
    position: relative
    z-index: 0

    .hero
        position: fixed
        left: 0
        right: 0
        top: 0
        bottom: 0
        width: 100%
        width: 100vw
        height: 100%
        height: 100vh

        @include transition(opacity 0.5s ease)

        img
            //min-height: 100%
            min-width: $bg_w

            width: 100%
            height: auto

            position: fixed
            bottom: 0
            left: 0

            @media screen and (max-width: $bg_w)
                left: 10%
                margin-left: -0.1 * $bg_w

        &.one
            background-color: #FFFFFF
            z-index: -5

        &.two
            background-color: #C6E8EA
            z-index: -4
            opacity: 0

        &.three
            background-color: #2E3A4E
            z-index: -3
            opacity: 0

        &.four
            background-color: #4E2E43
            z-index: -2
            opacity: 0

        &.visible
            opacity: 1

    #svg-link
        width: 100%
        position: absolute
        z-index: 0

        @media (max-width: $breakl)
            display: none

    section.slide
        @media (min-width: $breaku)
            position: relative
            height: 100%
            height: 100vh

            .left, .right
                height: 100%

            .left
                float: left
                width: 50%

            .right
                float: right
                width: 50%

        @media (max-width: $breakl)
            position: relative
            overflow: scroll

            .left, .right
                height: 100vh
                overflow: hidden

            .hide-small
                display: none

        @media (min-width: 1368px)
            width: 1368px
            margin: 0 auto

        &.sm-change
            @media (max-width: $breakl)
                position: relative
                height: 100%
                height: 100vh

                .left, .right
                    float: none
                    height: auto

        &.sm-stack
            @media (max-width: $breakl)
                position: relative
                height: 200%
                height: 200vh

        &.one
            .left > .inner
                padding: 0 15% 0 15%

            .right
                text-align: center
                img
                    width: 320px
                    max-width: 100%

        &.two
            div.cards-container
                overflow: hidden

                @media (min-width: $breaku)
                    height: 340px
                    position: relative
                    text-align: center

                @media (max-width: $breakl)
                    text-align: center
                    height: 230px
                    position: relative
                    margin: 0

                div.pagination
                    position: absolute
                    width: 100%
                    bottom: 0px
                    text-align: center
                    button
                        width: 14px !important
                        height: 14px !important
                        padding: 0
                        line-height: 0
                        font-size: 0
                        border-radius: 50%
                        border: 2px solid #ED2355
                        background: transparent
                        @include transition(background 0.2s ease)

                        &:hover, &.active
                            background: #FCC013
                            border: 2px solid #ED2355
                            outline: none
                        &:focus
                            outline: none

            .stack
                position: absolute
                @include transition(transform 0.5s ease, z-index 0.1s ease)

                @media (min-width: $breaku)
                    &.oovp
                        @include transform(translate(-1000px, 0px) scale(0))
                        z-index: 0

                    &.farther
                        @include transform(translate(-60%, 0px) scale(0.6))
                        z-index: 1

                    &.far
                        @include transform(translate(-30%, 0px) scale(0.8))
                        z-index: 2

                    &.front
                        @include transform(translate(10%, 0) scale(1))
                        z-index: 3

                @media (max-width: $breakl)
                    &.oovp
                        @include transform(translate(-1000px, 0px))
                        z-index: 0

                    &.farther
                        @include transform(translate(-160%, 0px))
                        z-index: 1

                    &.far
                        @include transform(translate(60%, 0px))
                        z-index: 2

                    &.front
                        @include transform(translate(-50%, 0))
                        z-index: 3

            .right > .inner
                @media (min-width: $breaku)
                    margin: 0 15% 0 15%

                @media (max-width: $breakl)
                    margin: 10% 15%

            @media (max-width: $breakl)
                .vcenter.inner
                    position: relative
                    top: 0
                    @include transform(none)

        &.three
            color: #FFFFFF
            .left > .inner
                padding: 0 15% 0 15%

            .info
                text-align: right

            @media (max-width: $breakl)
                .left
                    position: absolute
                    bottom: 0
        &.four
            color: #FFFFFF
            .right > .inner
                padding: 0 15% 0 15%

            .info
                text-align: left

        &.three, &.four
            .info
                @media (min-width: $breaku)
                    text-align: center
                    .inner
                        max-height: 100%
                    img
                        height: 650px
                        max-height: 100%
                        max-height: 100vh

                @media (max-width: $breakl)
                    text-align: center
                    img
                        //height: 650px
                        max-height: 100%
                        max-width: 100%

    section.footer
        background: #212121
        padding: 10px 7.5% 20px 7.5%
        line-height: 25px
        color: #FFFFFF
        border-top: 2px solid #000

        p
            margin: 0

            @media (min-width: $section_panic)
                width: $section_panic
                margin: 0 auto

    button, .button
        cursor: pointer
        font-size: 14px
        font-family: "Work Sans"

        &.dark-outline, &.light-outline
            background: transparent
            border-radius: 5px
            padding: 5px 20px
            @include transition(background 0.5s, color 0.5s)

        &.dark-outline
            border: 2px solid #000000
            color: #000000
            &:hover
                background: #000000
                color: #FFFFFF

        &.light-outline
            border: 2px solid #FFFFFF
            color: #FFFFFF
            &:hover
                background: #FFFFFF
                color: #000000

    div.card
        position: relative
        overflow: hidden
        display: inline-block
        border-radius: 5px
        background: #FFF
        cursor: pointer

        @media (min-width: $breaku)
            width: 230px
            height: 300px

        @media (max-width: $breakl)
            width: 230px
            height: 200px

        & > img
            display: block
            margin: 0 auto

            @media (min-width: $breaku)
                height: 60%

            @media (max-width: $breakl)
                width: 100%

        & > .dat
            overflow: hidden
            position: absolute
            bottom: 0
            background: #FFF
            padding: 10px
            color: #FFF
            text-align: left

            h2
                font-weight: 300
                margin: 0

                @media (min-width: $breaku)
                    font-size: 18px
                    line-height: 20px

                @media (max-width: $breakl)
                    font-size: 14px
                    line-height: 16px

            p
                @media (min-width: $breaku)
                    margin: 10px 0 0px 0

                @media (max-width: $breakl)
                    font-size: 12px
                    margin: 5px 0 0px 0

                span
                    float: right

            div.progress-fill
                background: #ED2355
                width: 100%
                height: 8px
                position: absolute
                left: 0
                bottom: 0

                & > div.percentage
                    position: absolute
                    left: 0
                    top: 0
                    height: 100%
                    background: #FCC013

        &.green
            background: #009E47
            & > .dat
                background: #009E47
        &.teal
            background: #009D9E
            & > .dat
                background: #009D9E
        &.blue
            background: #00769E
            & > .dat
                background: #00769E

    .vcenter
        &.outer
            position: relative
        &.inner
            position: relative
            top: 50%
            @include transform(translateY(-50%))
