@import url(http://fonts.googleapis.com/css?family=Work+Sans:400,100,200,300,500,600);
html, body {
  height: 100%; }

body.tour {
  font-family: "Work Sans", sans-serif;
  position: relative;
  z-index: 0; }
  body.tour .hero {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    width: 100vw;
    height: 100%;
    height: 100vh;
    background: #FFF;
    background-size: 1757px 845px;
    background-repeat: no-repeat;
    background-position: center top; }
    body.tour .hero.bg-nrml {
      background-image: url(//localhost:99/assets/hero/tour-scribble-nrml.png);
      z-index: -2; }
    body.tour .hero.bg-blur {
      background-image: url(//localhost:99/assets/hero/tour-scribble-blur.png);
      z-index: -1;
      opacity: 0; }
  body.tour section .row {
    margin: 0;
    height: 100%; }
  body.tour section.slide {
    position: relative;
    height: 100%;
    height: 100vh; }
    body.tour section.slide.one > div.row > div {
      padding: 0 15% 0 8%;
      height: 100%; }
    body.tour section.slide.two > div.row > div {
      height: 100%; }
    body.tour section.slide.two div.cards-container {
      height: 380px;
      position: relative;
      margin: 0 0 0 30%; }
      body.tour section.slide.two div.cards-container div.pagination {
        position: absolute;
        width: 100%;
        bottom: 0px;
        text-align: center; }
        body.tour section.slide.two div.cards-container div.pagination button {
          width: 14px !important;
          height: 14px !important;
          padding: 0;
          line-height: 0;
          font-size: 0;
          border-radius: 50%;
          border: 2px solid #ED2355;
          background: transparent;
          transition: background 0.2s ease; }
          body.tour section.slide.two div.cards-container div.pagination button:hover, body.tour section.slide.two div.cards-container div.pagination button.active {
            background: #FCC013;
            border: 2px solid #ED2355;
            outline: none; }
          body.tour section.slide.two div.cards-container div.pagination button:focus {
            outline: none; }
    body.tour section.slide.two .stack {
      position: absolute;
      transition: transform 0.5s ease, z-index 0.1s ease; }
      body.tour section.slide.two .stack.oovp {
        transform: translate(-1000px, 0px) scale(0);
        z-index: 0; }
      body.tour section.slide.two .stack.farther {
        transform: translate(0px, 0px) scale(0.6);
        z-index: 1; }
      body.tour section.slide.two .stack.far {
        transform: translate(30%, 0px) scale(0.8);
        z-index: 2; }
      body.tour section.slide.two .stack.front {
        transform: translate(70%, 0) scale(1);
        z-index: 3; }
    body.tour section.slide.two .right .inner {
      padding: 0 50% 0 0; }
      body.tour section.slide.two .right .inner h2 {
        margin-top: 0; }
  body.tour button.dark-outline, body.tour .button.dark-outline {
    background: transparent;
    border: 2px solid #000000;
    border-radius: 5px;
    color: #000000;
    padding: 5px 20px;
    transition: 0.5s; }
    body.tour button.dark-outline:hover, body.tour .button.dark-outline:hover {
      background: #000000;
      color: #FFFFFF; }
  body.tour div.card {
    width: 230px;
    height: 300px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    border-radius: 5px;
    background: #FFF;
    cursor: pointer; }
    body.tour div.card > img {
      height: 60%;
      display: block;
      margin: 0 auto; }
    body.tour div.card > .dat {
      width: 100%;
      overflow: hidden;
      position: absolute;
      bottom: 0;
      background: #FFF;
      padding: 10px;
      color: #FFF; }
      body.tour div.card > .dat h2 {
        font-size: 18px;
        font-weight: 300;
        line-height: 20px;
        margin: 0; }
      body.tour div.card > .dat p {
        margin: 10px 0 0px 0; }
        body.tour div.card > .dat p span {
          float: right; }
      body.tour div.card > .dat div.progress-fill {
        background: #ED2355;
        width: 100%;
        height: 8px;
        position: absolute;
        left: 0;
        bottom: 0; }
        body.tour div.card > .dat div.progress-fill > div.percentage {
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          background: #FCC013; }
    body.tour div.card.green {
      background: #009E47; }
      body.tour div.card.green > .dat {
        background: #009E47; }
    body.tour div.card.teal {
      background: #009D9E; }
      body.tour div.card.teal > .dat {
        background: #009D9E; }
    body.tour div.card.blue {
      background: #00769E; }
      body.tour div.card.blue > .dat {
        background: #00769E; }
  body.tour .vcenter.outer {
    position: relative; }
  body.tour .vcenter.inner {
    position: relative;
    top: 50%;
    transform: translateY(-50%); }

/*# sourceMappingURL=style.css.map */
