@import "beta"
@import "_mixins"

div[role="dock"]
  background: #FFFFFF
  border-radius: 5px
  color: #746C77
  padding: 20px

  section[role="intro"]
    h1
      margin: 0 0 10px 0

  section[role="wizard"]
    border: 1px solid #888
    border-radius: 5px
    overflow: hidden
    position: relative
    padding-left: 200px

    div[role="tabs"]
      padding: 10px 0
      background: #EFEFEF
      position: absolute
      width: 200px
      left: 0
      height: 100%

      ul
        @include clear-ul
        li
          padding: 5px 0 5px 20px
          margin: 5px 0
          font-size: 14px

          &.active
            background: #FFFFFF
            font-weight: 500

          &.filled
            background: #B1F1E3
            color: #003126
            a
              cursor: pointer
              &:hover
                text-decoration: underline

          a
            color: inherit
            text-decoration: none
            cursor: default

          &[role="header"]
            font-size: 16px
            padding-left: 10px

    div[role="interaction"]
      padding: 10px 10px 60px 10px
      overflow: hidden

      div[role="input"]
        display: flex
        flex-flow: row
        flex-wrap: nowrap
        @include transform(translateX(0))
        @include transition(transform 0.3s)

        div[data-slide]
          flex: 1 0 100%
          padding: 0px 60px 0 10px
          padding-right: 20%

      div[role="nav"]
        position: absolute
        left: 200px
        right: 0
        padding: 10px
        bottom: 0

        a.button
          &[role="next"]
            float: right

          &[role="skip"]
            float: right

    &::after
      clear: both
      content: ""
      display: table

  div[data-slide='business-units']
    ul[role='unit-input']
      @include clear-ul
      width: 100%

      li.header
        font-size: 12px
        span:nth-child(1)
          display: inline-block
          width: 30%
        span:nth-child(2)
          width: 60%

      li
        margin-bottom: 5px
        input
          &:nth-child(1)
            width: 30%

          &:nth-child(2)
            width: 60%

  div[data-slide="websites"]
    padding-right: 10px !important
    div[role="partners"]
      text-align: center
      margin: auto
      div[role="partner"]
        display: inline-block
        width: 50%
        float: left
        padding: 10px

        div.boxed
          background: #F2F2F2
          padding: 20px
          text-align: center
          border-radius: 5px

          img
            height: 60px
        p
          font-size: 14px
        input
          width: 100%

      &::after
        clear: both
        content: ""
        display: table

  input
    padding: 5px 10px
    border: 1px solid #999
    border-radius: 3px
    font-size: 14px

    &:hover, &:active, &:focus
      border-color: #000
      outline: none

  a.button
    padding: 5px 15px
    border-radius: 5px
    color: #5F5762
    font-weight: 300
    font-size: 14px
    text-decoration: none
    background: #EEEEEE

    &:hover
      background: #DDDDDD

    &[role="next"]
      background: #78DFC8
      &:hover
        background: #4ABDA3

    &[role="skip"]
      background: transparent
      &:hover
        background: transparent
        text-decoration: underline

    &[role="add"]
      margin-top: 5px
      border-radius: 3px
      font-size: 12px
      display: inline-block
      border: 1px solid #888

    &[role="deleteorb"]
      border: 1px solid #888
      border-radius: 50%
      background: transparent
      padding: 5px
      width: 30px
      height: 30px
      text-align: center
      color: red
      font-size: 15px
      display: inline-block
      &:hover
        background: red
        color: #FFFFFF

.vex
  z-index: 900

  &.vex-theme-top
    .vex-content
      background: #FFFFFF
      font-family: 'Montserrat'

      h1
        margin: 0 0 10px 0
        line-height: 30px

      p
        margin: 5px 0

      p.small
        font-size: 15px
        margin-bottom: 10px

      .orb
        width: 30px
        height: 30px
        padding: 5px
        font-size: 18px
        text-align: center
        margin: 0 10px 10px 0
        border-radius: 50%
        background: #A2DED0
        font-weight: 500
        color: #000
        float: left

      font-size: 15px
      font-weight: 200

      input[name='s_name'], input[name='swag']
        font-size: 15px
        padding: 10px 0
        background: #FFFFFF
        border: none
        border-bottom: 2px solid #AAA

        &:focus, &:hover
          outline: none
          border-bottom: 2px solid #000
