@import "bourbon/bourbon"
@import "neat/neat"
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700)

.tiles
  margin: 0 auto

  .tile, .tile-sizer
    margin: 10px
    padding: 0
    width: 250px

$base: #33495F
$main_font: 'Montserrat'
$alert:   #EA4B36
$warning: #F1C600
$primary: #2E96D6
$idle:    #00BA9B

html, body
  margin: 0
  position: relative
  min-height: 100%

body
  font-family: $main_font
  background: $base

  @media (min-width: 1024px)
    width: 1024px
    margin: 0 auto

  @media (max-width: 1023px)
    padding: 0 10%

header
  position: relative

  div.create-modal
    position: fixed
    width: 100%
    height: 100%
    left: 0
    top: 0
    display: flex
    visibility: hidden
    z-index: -1
    @include transition(z-index 0.5s step-end, visibility 0.5s step-end)

    .container
      width: 400px
      background: #fff
      padding: 20px
      border-radius: 4px
      margin: auto
      z-index: 100
      @include animation(moveOut 0.4s)

    &::before
      content: ''
      position: absolute
      width: 100%
      height: 100%
      background: #000
      opacity: 0
      z-index: 99
      @include transition(opacity 0.5s)

    &.open
      visibility: visible
      z-index: 100

      @include transition(z-index 0.5s step-start, visibility 0.5s step-start)

      &::before
        opacity: 0.8

      .container
        @include animation(moveIn 0.4s)

section.dock
  width: 100%

  & > h1
    font-size: 12px
    color: #ffffff
    position: relative

    span
      margin-left: 40px
      padding: 0 20px
      background: $base


    &::after
      content: ''
      background: #ffffff
      height: 1px
      top: 50%
      left: 0
      right: 0
      position: absolute
      z-index: -1
      border-radius: 50%

  div#card_dock
    margin: 0 auto

  div.alt-text
    color: #ffffff
    width: 50%
    margin: auto
    display: none

    @media (max-width: 1023px)
      width: 80%

    @media (max-width: 550px)
      width: 100%

div.card
  $width: 270px
  $pad_u: 15px
  $alert:   #EA4B36
  $warning: #F1C600
  $primary: #2E96D6
  $idle:    #00BA9B

  width: $width
  position: relative
  overflow: hidden
  background: #333D5E
  color: #FFFFFF
  border-radius: 3px
  font-size: 12px
  font-weight: 300
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4)
  margin: 10px
  display: inline-table

  @include transition(box-shadow 0.2s)

  z-index: 6

  &:hover
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.7)

  i
    margin-right: 5px

  section.frontmatter
    background: #FFFFFF
    color: #000
    padding: $pad_u $pad_u 0 $pad_u
    @include transition(padding 0.5s)

    position: relative

    h1
      margin: 0
      font-weight: 400
      font-size: 26px

    small
      font-size: 14px
      margin: 0 0 5px 0
      position: relative
      display: block

      span.status-expanded
        opacity: 1

      ul.status-narrow
        padding: 0
        margin: 0
        list-style: none
        text-align: justify
        position: absolute
        width: 100%
        top: 0
        opacity: 0

        li
          display: inline-block

        &:after, &:before
          content: ""

        &:after
          display: inline-block
          width: 100%

        &:before
          display: block

      span.status-expanded, ul.status-narrow
        @include transition(opacity 0.5s)

    a.more
      position: absolute
      right: -$pad_u
      opacity: 0
      color: #000000
      bottom: 20px
      @include transition(right 0.5s, opacity 0.5s)

    ul.statistics
      list-style: none
      padding: 0
      margin: 20px 0 0 0
      position: relative

      li
        display: inline-block
        width: 50%

        h1
          font-size: 14px
          font-weight: 400
          text-transform: uppercase

        h2
          margin: 0
          padding-top: 10px
          position: absolute
          font-size: 24px
          font-weight: 400
          color: #fff
          @include transition(color 0.5s, padding 0.5s)

        &:nth-child(even)
          float: right
          text-align: right

          h2
            right: 0

        &:last-child
          right: 0
          opacity: 1
          @include transition(right 0.5s, opacity 0.5s)

    &:after, &:before
      position: absolute
      bottom: -4px
      left: 0
      height: 4px
      content: ""
      @include transition(bottom 0.5s, height 0.2s)

    &:after
      background: #39C4AC
      width: 50%

    &:before
      background: #245582
      width: 100%

  section.status
    padding: 55px $pad_u $pad_u $pad_u

    h1
      margin: 0
      font-size: 14px
      font-weight: 400
      text-transform: uppercase
      margin-bottom: 10px

    ul
      list-style: none
      padding: 0
      margin: 0

      li
        margin: 0 0 5px 0

    a.less
      color: #FFFFFF
      position: absolute
      right: $pad_u
      font-size: 12px
      text-transform: none
      font-weight: 300

  section.footer
    padding: 0 $pad_u $pad_u $pad_u

    ul
      list-style: none
      margin: 0
      padding: 0
      display: block

      li
        display: inline-block

    a
      color: #FFFFFF

    section.destinations
      margin-bottom: 10px

      li
        width: (($width - $pad_u * 2) / 2 - 2)
        text-align: center
        padding: 10px 0
        border-radius: 3px
        background: #2C3552

    section.actions
      text-align: center

      li
        &:first-child
          float: left

        &:last-child
          float: right

  section.status, section.footer
    max-height: 200px
    @include transform(scale(1))
    @include transition(max-height 0.5s, padding 0.5s, transform 0.5s)

  .waves-ripple
    background: #333D5E

  &.narrow
    z-index: 5
    cursor: pointer

    section.frontmatter
      padding-bottom: 44px

      &:before, &:after
        bottom: 0

      small
        span.status-expanded
          opacity: 0
        ul.status-narrow
          opacity: 1

      ul.statistics > li
        h2
          color: #000
          padding-top: 0

        &:last-child
          position: absolute
          opacity: 0
          right: -50%

      a.more
        right: $pad_u
        opacity: 1

    section.status, section.footer
      @include transform(scale(1.5))
      max-height: 0px
      padding: 0px
      overflow: hidden

    &:hover
      section.frontmatter
        &:before, &:after
          height: 10px

  a
    text-decoration: none

  .alert
    color: $alert

  .warning
    color: $warning

  .idle
    color: $idle

  .primary
    color: $primary

.waves-effect
  position: relative
  cursor: pointer
  display: inline-block
  overflow: hidden
  @include user-select(none)

  -webkit-tap-highlight-color: transparent

  .waves-ripple
    position: absolute
    border-radius: 50%
    width: 100px
    height: 100px
    margin-top: -50px
    margin-left: -50px
    opacity: 0

    @include transition(all 0.5s ease-out)
    @include transition-property(transform, opacity)

    @include transform(scale(0) translate(0, 0))

    pointer-events: none

    background: rgba(255, 255, 255, 0.5)

  &.waves-classic .waves-ripple
    background: rgba(46, 150, 214, 0.2)

.cd-stretchy-nav
  position: absolute
  z-index: 0
  top: 40px
  right: 0

  @include transition(z-index 0.5s step-end)

  $width: 50px

  &::before
    content: ''
    position: absolute
    background: #33495F
    height: 0px
    width: 0px
    top: -50px
    right: -50px
    border-radius: 50%
    opacity: 0
    @include transition(height 0.2s, width 0.2s, opacity 0.2s)

  span.user-trigger
    position: absolute
    right: 1.5 * $width
    top: 16px
    opacity: 0.9
    color: #ffffff
    @include transition(opacity 0.2s)

  .stretchy-nav-bg
    position: absolute
    z-index: 1
    top: 0
    right: 0
    width: $width
    height: $width

    border-radius: $width / 2
    background: #9acd91
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2)

    @include transition(height 0.2s, box-shadow 0.2s)

  .cd-nav-trigger
    position: absolute
    z-index: 3
    top: 0
    right: 0
    height: $width
    width: $width
    border-radius: 50%
    overflow: hidden
    white-space: nowrap
    color: transparent

    span
      position: absolute
      width: 16px
      height: 2px
      background-color: #ffffff

      &::after, &::before
        position: absolute
        width: 16px
        height: 2px
        background-color: #ffffff
        content: ''
        top: 0
        left: 0
        @include backface-visibility(hidden)
        @include transition(transform 0.2s)

      left: 50%
      top: 50%
      bottom: auto
      right: auto

      @include transform(translateX(-50%) translateY(-50%))
      @include transition(background-color 0.2s)

      &::after
        @include transform(translateY(6px))

      &::before
        @include transform(translateY(-6px))

  ul
    position: relative
    z-index: 2
    padding: $width / 2 0 0
    list-style: none
    font-size: 14px
    visibility: hidden
    overflow: hidden

    @include transition(visibility 0.3s)

    text-align: right

    li

      a
        position: relative
        line-height: 35px
        text-decoration: none
        padding: 0 1.5 * $width 0
        color: rgba(255, 255, 255, 0.7)

        span
          opacity: 0
          display: inline-block
          @include transform(translateX(-25px))
          @include transition(color 0.2s, opacity 0.2s)

        i
          content: ''
          position: absolute
          width: 30px
          height: 30px
          padding: 5px
          border-radius: 50%
          text-align: center
          right: ($width - 30) / 2
          top: 50%
          background: #9acd91

          opacity: .6
          font-size: 20px

          @include transform(translateY(-50%) scale(0))
          @include transition(color 0.2s, opacity 0.2s, background 0.2s)

  &.nav-is-visible
    z-index: 12
    @include transition(z-index 0.5s step-start)

    &::before
      height: 300px
      width: 300px
      opacity: 0.9

    span.user-trigger
      opacity: 0

    .stretchy-nav-bg
      height: 100%
      box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2)

    .cd-nav-trigger
      span
        background-color: transparent

        &::before
          @include transform(rotate(-45deg))
        &::after
          @include transform(rotate(45deg))

    ul
      visibility: visible
      li
        a
          i
            @include transform(translateY(-50%) scale(1))
            @include animation(scaleIn 0.15s backwards)
            @include transition(opacity 0.2s)

          &.active
            color: #ffffff
            i
              opacity: 1

          span
            opacity: 1
            @include transform(translateX(0))
            @include animation(slideIn 0.15s backwards)
            @include transition(transform 0.2s)
        &:hover

          span
            color: #ffffff
            opacity: 1
            @include transform(translateX(-5px))

          i
            color: #ffffff
            opacity: 1

        &:first-of-type
          i, span
            @include animation-delay(0.05s)

        &:nth-of-type(2)
          i, span
            @include animation-delay(0.1s)

        &:nth-of-type(3)
          i, span
            @include animation-delay(0.15s)

        &:nth-of-type(4)
          i, span
            @include animation-delay(0.2s)

button, input
  padding: 10px 20px
  border-radius: 4px
  background: transparent
  border: 1px solid $base
  font-family: $main_font
  font-size: 14px

  &.lg
    font-size: 18px

  &.create
    background: $primary

@include keyframes(scaleIn)
  from
    @include transform(translateY(-50%) scale(0))

  to
    @include transform(translateY(-50%) scale(1))

@include keyframes(slideIn)
  from
    opacity: 0
    @include transform(translateX(-25px))

  to
    opacity: 1
    @include transform(translateX(0))

@include keyframes(moveIn)
  0%
    @include transform(translateY(100vh))

  65%
    @include transform(translateY(-10.5vh))

  100%
    @include transform(translateY(0vh))

@include keyframes(moveOut)
  0%
    @include transform(translateY(0vh))

  100%
    @include transform(translateY(-100vh))

.spinner
  width: 70px
  text-align: center
  margin: 150px auto

  > div
    width: 18px
    height: 18px
    background-color: #ffffff
    border-radius: 100%
    display: inline-block
    @include animation(sk-bouncedelay 1.4s infinite ease-in-out both)

  > span
    color: #FFFFFF
    opacity: 0.6
    margin-top: 20px
    display: block

  .bounce1
    @include animation-delay(-0.32s)
  .bounce2
    @include animation-delay(-0.16s)

@include keyframes(sk-bouncedelay)
  0%, 80%, 100%
    @include transform(scale(0))

  40%
    @include transform(scale(1))
