@font-face {
  font-family: Montserrat-Light;
  src: url('/static/fonts/Montserrat-Light.otf');
}

@font-face {
  font-family: Montserrat-Hairline;
  src: url('/static/fonts/Montserrat-Hairline.otf');
}

@font-face {
  font-family: Montserrat-Regular;
  src: url('/static/fonts/Montserrat-Regular.otf');
}

@font-face {
  font-family: Raleway-Light;
  src: url('/static/fonts/Raleway-Light.ttf');
}

@font-face {
  font-family: Raleway-Regular;
  src: url('/static/fonts/Raleway-Regular.ttf');
}


$fontMR: 'Montserrat-Regular', sans-serif;
$fontML: 'Montserrat-Light', sans-serif;
$fontMXL: 'Montserrat-Hairline', sans-serif;


$fontRR: 'Raleway-Regular', sans-serif;
$fontRL: 'Raleway-Light', sans-serif;
