/*---------------------------------------------------*/
// Colors
/*---------------------------------------------------*/

$color-1: #ffb000;
$color-red: #DE5255;
$color-white: #FFFFFF;
$color-yellow: #FDCE36;


/*---------------------------------------------------*/
// Widths and Heights
/*---------------------------------------------------*/

$th-hero-height: 750px;
$th-overflow-nav-width: 400px;
