<!doctype html>
<html class="no-js" lang="" ng-app="SurvaiderForms">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Survaider Survey</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="apple-touch-icon" sizes="57x57" href="/static/img/favicons/apple-touch-icon-57x57.png?v=beta2">
<link rel="apple-touch-icon" sizes="60x60" href="/static/img/favicons/apple-touch-icon-60x60.png?v=beta2">
<link rel="apple-touch-icon" sizes="72x72" href="/static/img/favicons/apple-touch-icon-72x72.png?v=beta2">
<link rel="apple-touch-icon" sizes="76x76" href="/static/img/favicons/apple-touch-icon-76x76.png?v=beta2">
<link rel="apple-touch-icon" sizes="114x114" href="/static/img/favicons/apple-touch-icon-114x114.png?v=beta2">
<link rel="apple-touch-icon" sizes="120x120" href="/static/img/favicons/apple-touch-icon-120x120.png?v=beta2">
<link rel="apple-touch-icon" sizes="144x144" href="/static/img/favicons/apple-touch-icon-144x144.png?v=beta2">
<link rel="apple-touch-icon" sizes="152x152" href="/static/img/favicons/apple-touch-icon-152x152.png?v=beta2">
<link rel="apple-touch-icon" sizes="180x180" href="/static/img/favicons/apple-touch-icon-180x180.png?v=beta2">
<link rel="icon" type="image/png" href="/static/img/favicons/favicon-32x32.png?v=beta2" sizes="32x32">
<link rel="icon" type="image/png" href="/static/img/favicons/favicon-194x194.png?v=beta2" sizes="194x194">
<link rel="icon" type="image/png" href="/static/img/favicons/favicon-96x96.png?v=beta2" sizes="96x96">
<link rel="icon" type="image/png" href="/static/img/favicons/android-chrome-192x192.png?v=beta2" sizes="192x192">
<link rel="icon" type="image/png" href="/static/img/favicons/favicon-16x16.png?v=beta2" sizes="16x16">
<link rel="manifest" href="/static/img/favicons/manifest.json?v=beta2">
<link rel="mask-icon" href="/static/img/favicons/safari-pinned-tab.svg?v=beta2" color="#33495f">
<link rel="shortcut icon" href="/static/img/favicons/favicon.ico?v=beta2">
<meta name="apple-mobile-web-app-title" content="Survaider">
<meta name="application-name" content="Survaider">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="/static/img/favicons/mstile-144x144.png?v=beta2">
<meta name="msapplication-config" content="/static/img/favicons/browserconfig.xml?v=beta2">
<meta name="theme-color" content="#ffffff">

        <link rel="stylesheet" href="/static/css/simplesurvey.css">
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <main ng-controller="FormController">

          <section class="sv-page-ontop sv-header-page sv-page sv-page-1 sv-page-current" id="header-slide">
            <h1 class="sv-survey-title" ng-bind="survey_title"></h1>
            <h3 class="sv-survey-description" ng-bind="survey_description"></h3>
            <a href="#" class="sv-surveyor-logo" ng-if="survey_logo">
              <img ng-src="{{survey_logo}}" alt="Logo" />
            </a>
            <button type="button" class="sv-button sv-button-large" ng-click="moveHeaderSlide()">Start Survey</button>

            <!-- Gray Star Image Load Hack(For Rating and Group Rating Questions) -->
            <img id="star-image-hack" src="/static/img/star-gray.png" />

          </section>

          <!-- <div class="sv-questions-container" id="questions-container"> -->

            <!-- Begin Loop on Questions -->

            <section ng-style="{{getTheBackgroundColor($index)}}" class="sv-page sv-question-wrapper" ng-repeat="question in questions" ng-init="$questionIndex = $index" sv-question-directive  id="question-{{question.id}}">

              <!-- Begin Question -->

              <div class="sv-question sv-{{question.type}}">

                <!-- Begin Question Header -->

                <header class="sv-question-header">
                  <span class="sv-question-index" ng-bind="$index+1"></span>
                  <h1 ng-bind="question.label" class="sv-question-title"></h1>
                </header>

                <!-- End Question Header -->

                <!-- Begin Question Input (Using Switch for the question types we can use different templates) -->

                <div class="sv-question-input" ng-switch on="question.type">

                  <!-- Template 1 (Short-Text, Input Type Text) -->

                  <div class="sv-question-switch" ng-switch-when="short_text">

                    <div class="sv-short-text-input">

                      <span class="input input--madoka">
                        <input class="input__field input__field--madoka" type="text" id="short-text-{{question.id}}" ng-keydown="changeInQuestion($questionIndex, question.id)" ng-model="question.response" type="text" name="question-{{question.id}}-short_text" autofocus="autofocus" placeholder="Enter Here" />
                        <label class="input__label input__label--madoka" for="short-text-{{question.id}}">
                          <svg class="graphic graphic--madoka" width="100%" height="100%" viewBox="0 0 404 77" preserveAspectRatio="none">
                            <path d="m0,0l404,0l0,77l-404,0l0,-77z"/>
                          </svg>
                        </label>
                      </span>

                    </div>

                  </div>

                  <!-- Template 2 (Long-Text, Textarea) -->

                  <div class="sv-question-switch" ng-switch-when="long_text">

                    <div class="sv-long-text-input">
                      <textarea ng-keydown="changeInQuestion($questionIndex, question.id)" ng-model="question.response" rows="5" name="question-{{question.id}}-long_text" placeholder="Enter Here"></textarea>
                    </div>

                  </div>

                  <!-- Template 3 (Yes-No, Two Radio Buttons with same name) -->

                  <div class="sv-question-switch" ng-switch-when="yes_no">

                    <div class="sv-question-yes-no-input" ng-repeat="option in question.options">
                      <input ng-click="changeInQuestion($questionIndex, question.id); animateToNext($questionIndex, question.id)" ng-model="question.response" type="radio" name="question-{{question.id}}-yes_no" value="{{$index+1}}" id="question-{{question.id}}-yes_no-{{option.label}}">
                      <label ng-class="{ 'sv-label-group' : !option.image, 'sv-label-choice-group' : option.image }" class=""  for="question-{{question.id}}-yes_no-{{option.label}}">
                        <img ng-src="{{option.image}}" ng-if="option.image" />
                        <span ng-bind="option.label"></span>
                      </label>

                    </div>

                  </div>

                  <!-- Template 4 (Multiple-Choice, Checkboxes for multiple responses) -->

                  <div class="sv-question-switch" ng-switch-when="multiple_choice">

                    <div class="sv-question-multiple-choice-input" ng-class="{ 'with-image' : choice.image }" ng-repeat="choice in question.choices">
                      <input ng-click="changeInQuestion($questionIndex, question.id)" ng-model="choice.checked" type="checkbox" name="question-{{question.id}}-multiple_choice-{{$index}}" value="{{$index}}" id="question-{{question.id}}-multiple_choice-{{$index}}">
                      <label ng-class="{ 'sv-label-group' : !choice.image, 'sv-label-choice-group' : choice.image }" for="question-{{question.id}}-multiple_choice-{{$index}}">
                        <img ng-src="{{choice.image}}" ng-if="choice.image" />
                        <span>{{ $index | numberToAlphabet }}&#46;&nbsp; &nbsp;{{ choice.label }}</span>
                      </label>
                    </div>


                  </div>

                  <!-- Template 5 (Single-Choice, Radio Buttons for a single response) -->

                  <div class="sv-question-switch" ng-switch-when="single_choice">

                    <div class="sv-question-single-choice-input" ng-class="{ 'with-image' : option.image }" ng-repeat="option in question.options">
                      <input ng-click="changeInQuestion($questionIndex, question.id); animateToNext($questionIndex, question.id)" ng-model="question.response" type="radio" name="question-{{question.id}}-single_choice" value="{{$index+1}}" id="question-{{question.id}}-single_choice-{{$index}}">
                      <label ng-class="{ 'sv-label-group' : !option.image, 'sv-label-choice-group' : option.image }" for="question-{{question.id}}-single_choice-{{$index}}">
                        <img ng-src="{{option.image}}" ng-if="option.image" />
                        <span>{{ $index | numberToAlphabet }}&#46;&nbsp; &nbsp;{{ option.label }}</span>
                      </label>
                    </div>

                  </div>

                  <!-- Template 6 (Rating, 5 Radio Buttons for a single response) -->

                  <div class="sv-question-switch" ng-switch-when="rating">

                    <div class="sv-rating-radio-group">

                      <div class="sv-question-rating-input" ng-repeat="n in [1,2,3,4,5,6,7,8,9,10]">
                        <input ng-click="changeInQuestion($questionIndex, question.id); animateToNext($questionIndex, question.id)" ng-model="question.response" type="radio" name="question-{{question.id}}-rating" value="{{n}}" id="question-{{question.id}}-rating-{{$index}}">
                        <label ng-class="{ 'active' : $index+1 <= question.response }" for="question-{{question.id}}-rating-{{$index}}"></label>
                      </div>

                    </div>

                  </div>

                  <!-- Template 7 (Group-Rating, For every Sub-Part 5 Radio Buttons for a single response) -->

                  <div class="sv-question-switch" ng-switch-when="group_rating">


                    <div class="sv-question-group-rating-input" ng-repeat="option in question.subparts">

                      <!-- Begin Subpart -->

                      <div class="sv-group-rating-option">

                        <header class="sv-question-subpart-header">

                          <!-- Defined a variable $optionIndex to access the index of the sub-part in the nested loop using ng-init directive -->
                          <span ng-init="$optionIndex = $index" ng-hide="true"></span>
                          <h3 class="sv-group-rating-option-title">{{ $index | numberToAlphabet }}&#46;&nbsp; &nbsp;{{ option.label }}</h3>

                        </header>

                        <!-- Begin Subpart Input -->

                        <div class="sv-group-rating-subpart-radio-group">

                          <div class="sv-group-rating-option-input" ng-repeat="n in [1,2,3,4,5]">
                            <input ng-click="changeInQuestion($questionIndex, question.id); animateToNext($questionIndex, question.id)" ng-model="option.rating" type="radio" name="question-{{question.id}}-option-{{$optionIndex}}-rating" value="{{n}}" id="question-{{question.id}}-subpart-{{$optionIndex}}-option-{{$index}}">
                            <label ng-class="{ 'active' : $index+1 <= option.rating }" for="question-{{question.id}}-subpart-{{$optionIndex}}-option-{{$index}}"></label>
                          </div>

                        </div>

                        <!-- End Subpart Input -->

                      </div>

                      <!-- End Subpart -->

                    </div>

                  </div>

                  <!-- Template 8 (Ranking, For n Sub-Parts n Radio Buttons for a single response for every Sub-Part) -->

                  <div class="sv-question-switch" ng-switch-when="ranking">

                    <div class="sv-ranking-group">
                      <div class="sv-question-ranking-input-subparts-group" ui-sortable="sortableOptions" ng-model="question.subparts">
                        <!-- Defined a variable $numberOfOptions to create 'n' number of radio buttons in nested loop for ranking using ng-init directive -->
                        <div class="sv-question-ranking-input" ng-init="$numberOfOptions = question.subparts.length" ng-repeat="option in question.subparts">

                          <!-- Begin Subpart -->

                          <div class="sv-ranking-option">

                            <header class="sv-question-subpart-header">

                              <!-- Defined a variable $optionIndex to access the index of the sub-part in the nested loop using ng-init directive -->
                              <h3 class="sv-ranking-option-title" ng-bind="option.label"></h3>

                            </header>

                          </div>

                          <!-- End Subpart -->

                        </div>
                      </div>

                      <div class="sv-ranking-ranks">
                        <header ng-repeat="n in array | makeArray : question.subparts.length"><h3 ng-bind="n"></h3></header>
                      </div>
                    </div>

                    <div class="sv-input-done">
                      <button class="sv-button sv-button-medium" id="question-{{question.id}}-yes_no-done" ng-click="moveToNext(question)">Done</button>
                    </div>

                  </div>

                  <!-- Default Template - Empty -->

                  <div class="sv-question-switch" ng-switch-when="default">

                  </div>

                  <div class="sv-input-done" ng-if="question.type != 'ranking'">
                    <button class="sv-button sv-button-medium" id="question-{{question.id}}-done" ng-click="moveToNext(question)" ng-show="question.isCompleted">Done</button>
                  </div>

                  <div class="sv-question-skip" ng-if="!question.isRequired && !question.isCompleted">
                    <button class="sv-button sv-button-medium" id="question-{{question.id}}-skip" ng-click="moveToNext(question)">Skip</button>
                  </div>

                </div>

                <!-- End Question Input -->

              </div>

              <!-- End Question -->

            </section>

            <!-- End Loop on Questions -->
          <!-- </div> -->

          <!-- FOOTER -->
          <section class="sv-footer-page sv-page sv-page-1" id="footer-slide">
            <button id="footer-submit-button" type="submit" class="sv-button sv-button-large" ng-click="formSubmit()">Submit</button>
          </section>
          <!-- END FOOTER -->

          <!-- FINAL SCREEN -->
          <section class="sv-final-page sv-page sv-page-2" id="final-slide">
            <div class="final-slide-wrapper">
              <h1 class="sv-surveyor-message" ng-bind="survey_footer"></h3>
              <div class="sv-final-footer">
                <h1 class="sv-message">Congratulations! You just filled Survaider Survey. Click <a href="//survaider.com">here</a> to build yours and experience new age of surveying!</h1>
                <a class="sv-final-survaider-logo" href="//survaider.com">
                  <h3>Made with Survaider</h3>
                  <img src="/static/img/icon.png" alt="" />
                </a>
              </div>

            </div>
          </section>
          <!-- END FINAL SCREEN -->


          <section class="pagination" ng-hide=" activeSlide.slideType == 'final' ">
            <ul>
              <li ng-repeat="question in questions" ng-class="{ 'done' : question.isCompleted, 'active' : activeSlide.question.id == question.id, 'disabled' : question.isDisabled, 'notRequired' : !question.isRequired }" ng-click="paginate(question)" ng-disabled="question.isDisabled"></li>
            </ul>
          </section>

          <!-- Begin Page Sidebar -->

          <div class="sv-sidebar-wrapper" ng-hide=" activeSlide.slideType == 'final' ">
            <div class="sv-sidebar">
              <!-- <div class="flash-message" ng-hide="!isThereAFlashMessage" >
                <h3 ng-bind="flashMessage"></h3>
              </div> -->
              <div class="current-message">
                <h3 ng-bind="updateSidebar(activeSlide.question.type)"></h3>
              </div>
              <div class="always-message">
                <p ng-if="!formEnabled">
                  <span ng-if="numberOfQuestionsRemaining == 0 && activeSlide.slideType == 'question'">You can submit the form now!</span>
                  <span ng-if="numberOfQuestionsRemaining == 1 && activeSlide.slideType == 'question'">1 question is remaining</span>
                  <span ng-if="numberOfQuestionsRemaining > 1 && activeSlide.slideType == 'question'">{{numberOfQuestionsRemaining}} questions are remaining</span>
                  <span class="sv-made-with-survaider" ng-if="activeSlide.slideType != 'question'">
                    <span>Made with Survaider</span>
                    <img src="/static/img/icon.png" alt="" />
                  </span>
                </p>
              </div>
            </div>
          </div>

          <!-- End Page Sidebar -->

        </main>
        <!-- main application -->
        <script src="/static/js/simplesurvey.js"></script>

    </body>
</html>
