{% from 'macros.html' import favicons %}

<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta charset="utf-8" />
  <title>Survaider</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  {{ favicons() }}
  <meta content="" name="description" />
  <meta content="Prashant Sinha" name="author" />

  {% block head_css %}
  {% endblock %}
</head>

<body>

        
    <!-- <img src="{{ url_for('static', filename = 'img/icon.png') }}" alt="Survaider Logo" height="60px"> -->

  {% block header %}
  {% endblock %}

  {% block sidebar %}
  {% endblock %}

  {% block main_sections %}
  {% endblock %}

  <footer>
    <p>Copyright © 2015 Survaider. All rights reserved.</p>
    <p><a href="#">Terms of use</a> | <a href="#">Privacy Policy</a></p>
    <p>Made with Love at University of Delhi</p>
  </footer>

  {% block body_js %}
  {% endblock %}
</body>
</html>
