{% macro footer_text(cls = "text-right") -%}

<div class="container-fluid container-fixed-lg footer {{ cls }}">
  <div class="copyright sm-text-center">
    <p class="small no-margin">
      <span class="hint-text">Copyright © 2015 </span>
      <span class="font-montserrat">Survaider</span>.
      <span class="hint-text">All rights reserved.</span><br>
      <span class="sm-block"><a href="#">Terms of use</a> | <a href="#">Privacy Policy</a></span>
    </p>
    <p class="small no-margin">
      Made with Love at University of Delhi
    </p>
    <div class="clearfix"></div>
  </div>
</div>

{% endmacro %}

{% macro favicons() -%}
<link rel="apple-touch-icon" sizes="57x57" href="/static/img/favicons/apple-touch-icon-57x57.png?v=beta2">
<link rel="apple-touch-icon" sizes="60x60" href="/static/img/favicons/apple-touch-icon-60x60.png?v=beta2">
<link rel="apple-touch-icon" sizes="72x72" href="/static/img/favicons/apple-touch-icon-72x72.png?v=beta2">
<link rel="apple-touch-icon" sizes="76x76" href="/static/img/favicons/apple-touch-icon-76x76.png?v=beta2">
<link rel="apple-touch-icon" sizes="114x114" href="/static/img/favicons/apple-touch-icon-114x114.png?v=beta2">
<link rel="apple-touch-icon" sizes="120x120" href="/static/img/favicons/apple-touch-icon-120x120.png?v=beta2">
<link rel="apple-touch-icon" sizes="144x144" href="/static/img/favicons/apple-touch-icon-144x144.png?v=beta2">
<link rel="apple-touch-icon" sizes="152x152" href="/static/img/favicons/apple-touch-icon-152x152.png?v=beta2">
<link rel="apple-touch-icon" sizes="180x180" href="/static/img/favicons/apple-touch-icon-180x180.png?v=beta2">
<link rel="icon" type="image/png" href="/static/img/favicons/favicon-32x32.png?v=beta2" sizes="32x32">
<link rel="icon" type="image/png" href="/static/img/favicons/favicon-194x194.png?v=beta2" sizes="194x194">
<link rel="icon" type="image/png" href="/static/img/favicons/favicon-96x96.png?v=beta2" sizes="96x96">
<link rel="icon" type="image/png" href="/static/img/favicons/android-chrome-192x192.png?v=beta2" sizes="192x192">
<link rel="icon" type="image/png" href="/static/img/favicons/favicon-16x16.png?v=beta2" sizes="16x16">
<link rel="manifest" href="/static/img/favicons/manifest.json?v=beta2">
<link rel="mask-icon" href="/static/img/favicons/safari-pinned-tab.svg?v=beta2" color="#33495f">
<link rel="shortcut icon" href="/static/img/favicons/favicon.ico?v=beta2">
<meta name="apple-mobile-web-app-title" content="Survaider">
<meta name="application-name" content="Survaider">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="/static/img/favicons/mstile-144x144.png?v=beta2">
<meta name="msapplication-config" content="/static/img/favicons/browserconfig.xml?v=beta2">
<meta name="theme-color" content="#ffffff">
{% endmacro %}
