{% macro footer_text() -%}

<div class="container-fluid container-fixed-lg footer text-right">
  <div class="copyright sm-text-center">
    <p class="small no-margin">
      <span class="hint-text">Copyright © 2015 </span>
      <span class="font-montserrat">Survaider</span>.
      <span class="hint-text">All rights reserved.</span><br>
      <span class="sm-block"><a href="#">Terms of use</a> | <a href="#">Privacy Policy</a></span>
    </p>
    <p class="small no-margin">
      Made with Love at University of Delhi
    </p>
    <div class="clearfix"></div>
  </div>
</div>

{% endmacro %}
