{% extends 'master.html' %}
{% from 'macros.html' import footer_text %}

{% block pgbody %}
{% block sidebar %}
<nav class="page-sidebar" data-pages="sidebar">
  <div class="sidebar-header">
    <img src="/static/img/logo_white_2x.png" alt="logo" class="brand" data-src="/static/img/logo_white.png" data-src-retina="/static/img/logo_white_2x.png" height="22">
  </div>

  <div class="sidebar-menu">
    <div class="sidebar-menu">
      <ul class="menu-items">
        <li class="m-t-30">
          <a href="/dashboard">Dashboard</a>
          <span class="icon-thumbnail bg-complete"><i class="fa fa-cube"></i></span>
        </li>
        <li>
          <a href="/survey">Surveys &amp; Responses</a>
          <span class="icon-thumbnail bg-success"><i class="fa fa-cube"></i></span>
        </li>

        {% block nav_admin %}
        {% if g.user.has_role('admin') %}
        <li>
          <a href="/admin">Administration</a>
          <span class="icon-thumbnail"><i class="pg-grid"></i></span>
        </li>
        {% endif %}
        {% endblock %}
      </ul>
    </div>
  </div>
</nav>
{% endblock %}

{% block container %}
<div class="page-container">
  <div class="header ">
    <div class="pull-left full-height visible-sm visible-xs">
      <div class="sm-action-bar">
        <a href="#" class="btn-link toggle-sidebar" data-toggle="sidebar">
          <span class="icon-set menu-hambuger"></span>
        </a>
      </div>
    </div>

    <div class="pull-right full-height visible-sm visible-xs">
      <div class="sm-action-bar">
        <div class="dropdown pull-right">
          <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="thumbnail-wrapper d32 circular inline m-t-5">
            <img src="assets/img/profiles/avatar_small2x.jpg" alt="" data-src="assets/img/profiles/avatar.jpg" data-src-retina="assets/img/profiles/avatar_small2x.jpg" width="32" height="32">
            </span>
          </button>
          <ul class="dropdown-menu profile-dropdown" role="menu">
            <li><a href="#"><i class="pg-settings_small"></i> Settings</a>
            </li>
            <li><a href="#"><i class="pg-outdent"></i> Feedback</a>
            </li>
            <li><a href="#"><i class="pg-signals"></i> Help</a>
            </li>
            <li class="bg-master-lighter">
              <a href="#" class="clearfix">
                <span class="pull-left">Logout</span>
                <span class="pull-right"><i class="pg-power"></i></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="pull-left sm-table">
      <div class="header-inner">
        <div class="brand inline">
          <img src="/static/img/logo_2x.png" alt="logo" data-src="/static/img/logo.png" data-src-retina="/static/img/logo_2x.png" height="22">
        </div>
        <ul class="notification-list no-margin b-grey b-l b-r no-style p-l-30 p-r-20">
          <li class="p-r-15 inline">
            <div class="dropdown">
              <a href="javascript:;" id="notification-center" class="icon-set globe-fill" data-toggle="dropdown">
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class=" pull-right">
      <div class="header-inner">
        <div class="pull-left p-r-10 p-t-10 fs-16 font-heading">
          <span class="semi-bold">{{g.user.email}}</span>
        </div>
        <div class="dropdown pull-right">
          <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="thumbnail-wrapper d32 circular inline m-t-5">
            <img src="assets/img/profiles/avatar_small2x.jpg" alt="" data-src="assets/img/profiles/avatar.jpg" data-src-retina="assets/img/profiles/avatar_small2x.jpg" width="32" height="32">
            </span>
          </button>
          <ul class="dropdown-menu profile-dropdown" role="menu">
            <li><a href="#"><i class="pg-settings_small"></i> Settings</a>
            </li>
            <li><a href="#"><i class="pg-outdent"></i> Feedback</a>
            </li>
            <li><a href="#"><i class="pg-signals"></i> Help</a>
            </li>
            <li class="bg-master-lighter">
              <a href="#" class="clearfix">
                <span class="pull-left">Logout</span>
                <span class="pull-right"><i class="pg-power"></i></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="page-content-wrapper">
    <div class="content {% block content_class %}{% endblock %}">
      {% block content_head %}
      {% endblock %}

      {% block content %}
      {% endblock %}
    </div>
    {{ footer_text() }}
  </div>
</div>
{% endblock %}
{% endblock %}
