{% import 'admin/layout.html' as layout with context -%}

{% extends 'nav.container.html' %}

{% block nav_admin %}
{{ layout.menu() }}
{% endblock %}

{% block content_head %}
<div class="jumbotron" data-pages="parallax">
  <div class="container-fluid container-fixed-lg">
    <div class="inner" style="transform: translateY(0px); opacity: 1;">
      <ul class="breadcrumb">
        <li>
          <p>Admin</p>
        </li>
        <li><a href="#" class="active">Blank template</a>
        </li>
      </ul>
      <div class="panel panel-transparent">
        <div class="panel-body">
          <h3>Admin Panel</h3>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
  {% block messages %}
  {{ layout.messages() }}
  {% endblock %}

  {# store the jinja2 context for form_rules rendering logic #}
  {% set render_ctx = h.resolve_ctx() %}

  {% block body %}{% endblock %}
</div>
{% endblock %}

{% block tail %}
{% endblock %}
