{% extends 'nav.container.html' %}

{% block content_class %}bg-info{% endblock %}

{% block content_head %}
<div class="jumbotron page-cover" data-pages="parallax">
  <div class="container-fluid container-fixed-lg">
    <div class="inner" style="transform: translateY(0px); opacity: 1;">
      <div class="panel panel-transparent">
        <div class="panel-body">
          <span class="h3 font-montserrat">Welcome {{ g.user.metadata.full_name }}!</span><br><br>

          <button class="btn btn-primary btn-cons m-b-10 btn-lg" type="button" onclick="$('#myModal').modal('show')"><i class="pg-form"></i> <span class="bold">Build a Survaider</span></button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block content %}
<div class="container ">
  <div id="survey_tiles" class="tiles">
    <div class="tile-sizer"></div>
  </div>
</div>
{% endblock %}

{% block modal %}
<div class="modal fade stick-up" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header clearfix text-left">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
        </button>
        <h5>Survey <span class="semi-bold">Information</span></h5>
        <p>You're one step away from creating a new Survaider! Please fill-in the following information to get started.</p>
      </div>
      <div class="modal-body">
        <form role="form" id="survaider_form">
          <div class="form-group-attached">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group form-group-default">
                  <label>Name</label>
                  <input type="text" class="form-control" name="s_name">
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="row">
          <div class="col-sm-8">
            <div class="p-t-20 clearfix p-l-10 p-r-10">
              <div class="pull-left">

                <p><span class="bold font-montserrat text-uppercase">Next:</span> Survey Structure</p>
              </div>
              <div class="pull-right">
                <p class="bold font-montserrat text-uppercase"></p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 m-t-10 sm-m-t-10">
            <button type="button" class="btn btn-primary btn-block m-t-5" id="exec_create_survaider" onclick="DashboardHelper.create_survey();">Proceed</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block additionaljs%}
<script type="text/javascript" src="{{ url_for('static', filename='domain/dashboard.vendor.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='domain/dashboard.js') }}"></script>
{% endblock %}

{% block additionalcss%}
<link class="main-stylesheet" href="{{ url_for('static', filename='domain/dashboard.vendor.css') }}" rel="stylesheet" type="text/css" />
<link class="main-stylesheet" href="{{ url_for('static', filename='domain/dashboard.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
