<md-dialog aria-label="Share"  ng-cloak>
   <form>
     <md-toolbar>
       <div class="md-toolbar-tools">
         <div>
             <img src="/static/survaiderdashboard/images/modal3.png" class="dialog-header-icon"/>
         </div>
         <h2>Download data</h2>
         <span flex></span>
         <md-button class="md-icon-button" ng-click="cancel()">
           <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
         </md-button>
       </div>
     </md-toolbar>
     <md-dialog-content>
       <div class="md-dialog-content">
         <p>
           Keep all your data safe! Download <i>aspect ratings</i>, <i>competitive analysis</i>, <i>feedback responses</i> and everything else you see on the dashboard in <b>CSV</b> format. Coming soon!
         </p>
       </div>
     </md-dialog-content>
     <md-dialog-actions layout="row">
       <span flex>
       </span>
       <md-button ng-click="cancel()">
        Done
       </md-button>
     </md-dialog-actions>
   </form>
 </md-dialog>